[2013-01-06 23:04] lviggiano opened #1 "Merge multiple properties configuration files from different sources."
It would be interesting to have a @SourceLoadPolicy annotation that defines a different policy to load the sources.

At the moment the @Sources is scanned sequentially and the first resource available is used to load the properties.

But it would be nice to have the possibility to have an overriding mechanism:

Example:
1. I have a property in the jar
2. I have a global configuration under `/etc/m

[2013-01-06 23:10] lviggiano opened #2 "Nested Properties"
It could be interesting to think about some structure (i.e. nesting)

[code]

So, to access barProp, the default key in the properties file would be `foo.bar.barProp`.
Method invocation will then be `Foo.bar().barProp()`.

Not sure it is a good thing to have. Implementation may not be trivial. We can discuss it.

[2013-01-08 15:32] lviggiano opened #3 "Tool to generate properties file from Config sub-interfaces"
Since one can have Config interfaces with `@DefaultValue`s without using properties files, it would be useful to have a command line tool (or a maven mojo) that checks all the classes in a project and generate properties files with the default values, so that it would be easier to change those files and/or use them as template for changing the configutation.

[2013-01-08 15:33] lviggiano opened #4 "Deploy the artifact jars to Maven Central"
Don't know yet how to do it, but it would be much better to have the jars on mvn central, than using the repository on github website.

[2013-01-20 20:04] lviggiano opened #5 "Implement XML properties support."
Since JDK 1.5 Java [properties](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html) support XML format via `loadFromXML()` and `storeToXML()`

There is no reason why OWNER API shouldn't implement those two methods.

[2013-01-20 20:07] lviggiano opened #6 "Implement XML properties support."
Since JDK 1.5 Java [properties](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html) support XML format via `loadFromXML()` and `storeToXML()`

There is no reason why I shouldn't implement those two methods.

[2013-01-20 20:16] lviggiano opened #7 "implement list()"
[List()](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html#list%28java.io.PrintWriter%29) method can be proxied from java.util.Properties.

It is especially useful when many properties files get merged (via overrides, see issue #1 ) with others: it may become not easy to understand the resulting value. So I will need to provide a method like list().

[2013-01-20 20:16] lviggiano opened #8 "implement list()"
[List()](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html#list%28java.io.PrintWriter%29) method can be proxied from java.util.Properties.

It is especially useful when many properties files get merged (via overrides, see issue #1 ) with others: it may become not easy to understand the resulting value. So I will need to provide a method like list().

[2013-01-20 20:16] lviggiano opened #9 "implement list()"
The methods [list(PrintWriter)](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html#list%28java.io.PrintWriter%29) and [list(PrintStream)](http://docs.oracle.com/javase/1.5.0/docs/api/java/util/Properties.html#list%28java.io.PrintStream%29) method can be proxied from Config interface to java.util.Properties.

It is especially useful when many properties files get merged (via ove

[2013-01-20 20:17] #7 closed, assigned to nobody

[2013-01-20 20:17] #8 closed, assigned to nobody

[2013-01-20 20:20] #6 closed, assigned to nobody

[2013-01-21 01:15] ryenus opened #10 "alias ConfigFactory.create ConfigFactory.get"
That's it, maybe `ConfigFactory.get` is a better name for `ConfigFactory.create`.

All in all, very interesting library and a well done one. Thank you, I would definitely use it for my next projects.

Oh, I just thought of a feature like generating an application specific secret, than use it to encrypt things like password and integrate into owner so there would be no implicit decryption logic.

[2013-01-23 00:25] #9 closed, assigned to lviggiano

[2013-01-24 14:33] lviggiano opened #11 "Custom Types conversion"
### CUSTOM & SPECIAL RETURN TYPES

Since version 1.0.2 it is possible to have configuration interfaces to declare complex return types or even custom ones.

Example:

[code]

The user can define his own class types as `CustomType` in the previous example. The return type needs to be a public
class declaring a public constructor with a single argument of type `java.lang.String'.

Example:

[code]

[2013-01-24 14:34] #11 closed, assigned to lviggiano

[2013-01-24 17:15] lviggiano opened #12 "Properties values variables expansion"
Implement variable substitution (multi-level) for properties values

Example:

[code]

It must work also with Config based on properties files:

[code]

[2013-01-24 17:15] #12 closed, assigned to lviggiano

[2013-01-26 20:58] #1 closed, assigned to lviggiano

[2013-01-27 08:05] #4 closed, assigned to lviggiano

[2013-02-09 16:13] lviggiano opened #14 "Different sources for configuration (file formats)"
At the moment, the only supported format for configuration files handled by owner api is java Properties. It would be nice to have a plugin based architecture that adds support for different file formats.

[Apache commons configuration](http://commons.apache.org/configuration/) provides support for several file formats.

While Java properties can be provided out of the box, without dependencies, i

[2013-02-09 16:26] lviggiano opened #15 "Automatic reload for configuration files."
It is not uncommon for some application to have a consistent and efficient "hot reload" for configuration files. At the moment, the configuration is loaded when the create method is invoked, and no cache is implemented; so it would not be hard for a user to implement some reload mechanism from outside the API. But, things would be better if the reload is triggered by file change, transparently. Th

[2013-02-14 13:52] gitblit opened #16 "RFE: Smart properties save() method"
I use properties files as config files in Gitblit so your project is very interesting to me.  Issue 15 (hot reload) is definitely a requirement for me to adopt your library, but another thing I would be missing is an enhanced write feature that replaces a property value in the file without destroying the file.  I currently document config settings within the properties file (example https://github

[2013-02-19 16:57] lviggiano opened #17 "Substitution and format not working as expected when used together"
This test is failing in version 1.0.3

[code]

[2013-02-19 16:58] #17 closed, assigned to nobody

[2013-03-13 01:40] marcottedan opened #19 "Add a JMX mBean for each Property"
It would be awesome to automatically manage a JMX mBean for every property created / setted using your library.

We would have full control over configuration in the JDK jVisualVM for hot-modification.

[2013-03-13 17:52] lviggiano opened #20 "Add the possibility to disable variable expansion and parametrized formatting"
An annotation could be used to specify the context (on class level or on method level), and it should be good enough to express the will of the programmer to disable one or both of those features.

Example:

[code]

[2013-03-28 22:04] #20 closed, assigned to lviggiano

[2013-03-28 23:51] lviggiano opened #21 "Add support for arrays (and collections?) in type conversion"
Support for arrays and collections may be nice:

[code]

[2013-05-23 15:08] lviggiano opened #26 "add Travis CI to the repository"
https://travis-ci.org/

[2013-05-23 19:18] #26 closed, assigned to nobody

[2013-05-25 20:10] #21 closed, assigned to nobody

[2013-06-03 20:27] lviggiano opened #28 "Add test to ensure PropertyManager.reload() works fine under heavy concurrency"
properties member instance can be accessed and modified concurrently here:

https://github.com/lviggiano/owner/blob/automatic-reload/src/main/java/org/aeonbits/owner/PropertiesManager.java

need to create some threads that ensure things are done properly.

L.

[2013-06-03 20:31] lviggiano opened #29 "Improvements on javadocs and online documentation"
Things that need documentation (javadoc and readme.md) improvements:
- new interface Listable
- new interface Reloadable
- owner website needs to be rewritten. The single page layout is not scaling with the addition of new features.

as in subject. I'll keep things here that need documentation improvements, until release.

[2013-06-04 15:07] #28 closed, assigned to nobody

[2013-06-04 15:17] mikeChampagne opened #30 "Validation (was @Mandatory annotation : fail if property is not set)"
Like you wrote in your faq ( http://lviggiano.github.io/owner/#faq ), we might want some properties without a default value, thus forcing the user to set it in the properties file. It would be nice to have the feature juste like you describe it.

[2013-06-05 14:59] lviggiano opened #31 "Properties values runtime modifications"
From a private email:

I would say that the main feature I am looking forward to is changing the value of a property at runtime without editing the file.
The reason is that I'm coding a server that is deployed on many environments, each having its own unique values for many properties.
I have :
- a default value or not, depending if it makes sense for every environment,
- a specific starting value

[2013-06-06 15:57] mikeChampagne opened #32 "Who uses OWNER?"
I would like to know who uses this API, and how many downloads have been made?

[2013-06-14 16:14] bbossola opened #33 "Provide a toString() method"
Please provide a toString() method in your proxy so that I can see the content of the config and I can also use it in a log message easily. Something like:

[code]

[2013-06-16 16:40] bbossola opened #34 "Provide YAML support in config files"
With YAML we will be able to describe entire objects, rather than properties: it fits very well the mechanics for complex configuration.
http://en.wikipedia.org/wiki/YAML
http://yaml.org/

I suggest to use SnakeYAML as java library:
http://code.google.com/p/snakeyaml/

[2013-06-25 23:37] lviggiano opened #35 "Imported properties have lower priority than the resources associated to the Config object or by @Sources"
The behavior of OWNER is that imported properties have lowest priority over the one associated to the `Config` object or the ones specified by the `@Sources` annotation.

I thought that this was the best behavior, but actually I felt that there was no reasonable reason to why I decided it (I also wrote a junit test to fix this behavior as "correct").

Now reading an email I just received, I feel l

[2013-06-30 08:19] alexeyr opened #36 "Enable passing sources explicitly"
Sometimes it may be desirable to determine source location at runtime, and pass them to ConfigFactory explicitly (e.g. if we want to find config files relative to the jar file's directory http://stackoverflow.com/questions/2837263/how-do-i-get-the-directory-that-the-currently-executing-jar-file-is-in).

[2013-06-30 11:05] alexeyr opened #37 "Nested collections/arrays"
Related to #2: support for collections (or arrays) of complex types. E.g.

[code]

and in the properties file

[code]

should produce an array of 2 servers (or map with keys `"1"` and `"2"`).

[2013-06-30 23:24] lviggiano opened #38 "@ConverterClass annotation"
As per discussion in issue #37

Given a properties file like:

[code]

and a Java source like

[code]

The @ConverterClass annotation should allow the user to specify a class specific to a method to convert the associated property to the resulting object.

It should work also for collections and  lists as in the above example.

[2013-07-03 08:15] #33 closed, assigned to nobody

[2013-07-05 11:07] #35 closed, assigned to nobody

[2013-07-05 13:43] #15 closed, assigned to nobody

[2013-07-05 15:21] #31 closed, assigned to nobody

[2013-07-05 15:29] #29 closed, assigned to nobody

[2013-07-05 15:30] #10 closed, assigned to nobody

[2013-07-05 18:59] #36 closed, assigned to nobody

[2013-07-07 05:54] alexeyr opened #39 "Github pages broken"
http://lviggiano.github.io/owner/ is currently broken.

[2013-07-07 07:37] #39 closed, assigned to nobody

[2013-07-10 00:25] lviggiano opened #40 "~ expansion is not correct"
~ expansion should not happen always. only path beginning with "~/" should be replaced to ~/<user-home> not all ~, since the file named 'foo~' is a perfectly valid file name. also notice that ~ expansion follows different rules with bash than just home expansion: http://www.thegeekstuff.com/2010/06/bash-tilde-expansion/

[2013-07-10 00:26] #38 closed, assigned to nobody

[2013-07-10 00:33] lviggiano opened #41 "Support for Map objects"
sample property:

[code]

sample class:

[code]

`something()` should return a map containing: foo=1, bar=2, baz=3

[2013-07-11 19:27] #40 closed, assigned to nobody

[2013-07-17 18:07] lviggiano opened #42 "Google App Engine Compatibility Issue"
It looks like there is some issue with the Google App Engine:

[code]

(the above stacktrace and line numbers may relate to version 1.0.2 or 1.0.3)

sounds like a security policy: http://stackoverflow.com/questions/15673942/urlstreamhandler-is-a-restricted-class

The bug is reported to the GAE:
https://code.google.com/p/googleappengine/issues/detail?id=1384

From my point of view, this bug should

[2013-07-21 08:57] lviggiano opened #43 "Allow a non-static ConfigFactory"
At the moment ConfigFactory is static, so if somebody configures it using ConfigFactory.setProperty(), this affect the singleton object (across the VM). It would be nice to have a non static ConfigFactory. i.e. ConfigFactory.newInstance() that allows configuration for just that instance.

[2013-07-21 09:00] lviggiano opened #44 "Extend Converters to cover more Object types"
At the moment the converters are able to instantiate objects having a single parameter constructor accepting a String or Object. But since the Converter itself is able to convert String to primitive (and non-primitive) types, it should not be difficult to extend it to cover Object with a single parameter constructor accepting any type already covered by the Converters.

[2013-07-21 09:11] lviggiano opened #45 "Config methods with multiple `@Key`s and `@DefaultValue`s"
At the moment, the `@Key` annotation only accept one value (as well the `@DefaultValue` annotation), it would be nice if for a single property we can specify multiple `@Key`s and multiple `@DefaultValue`s.

Example

[code]

[2013-07-24 19:05] #42 closed, assigned to nobody

[2013-07-25 22:27] #34 closed, assigned to nobody

[2013-07-28 23:21] bbossola opened #46 "Add a method to get all the keys (aka keySet()) to the Accessible interface"
The Accessible interface is cool but it lacks a method to programmatic-ally get a list of all the keys, just in case you need to show the configuration in any different way from the basic list mechanism already present

[2013-07-28 23:26] bbossola opened #47 "Add a method to detect which properties were changed in a reload"
The HotReload is super cool :) however I think that generally it would be nice to know which properties has changed so that you can re-configure only the affected services, It can be embedded into the ReloadEvent, or it could be possible have a helper method (like I have in my code now) that is able to do a "diff" in the properties for me.

[2013-07-29 23:14] #46 closed, assigned to nobody

[2013-09-03 05:24] vaibhavk81 opened #48 "Support for indexed keys"
I would like to request an option to include duplicate keys or keys with index. The config should return list/array for all the values for this key.

e.g.
server=Sometext
server=Othertext

OR
server.0=Sometext
server.1=Othertext

@Key("server")
String[] server;

Thanks,

[2013-09-09 03:45] jpurnomosidi opened #49 "Support for EncryptableProperties"
Owner is very cool framework in my opinion. However, how about the security of storing password in properties? Can owner support for encryptable properties like in Jasypt http://www.jasypt.org/encrypting-configuration.html ?

Thanks

[2013-09-11 01:33] bbossola opened #50 "Hot reload does not work when file name needs to be expanded"
The hot reload feature is not working when the file name needs to be expanded, i.e.:
    "file:${application.configurationFile}"
or
    "file:~/config.properties"

When an absolute file name is present the hotreload will work as expected.

[2013-09-12 22:31] #5 closed, assigned to nobody

[2013-09-18 23:08] #50 closed, assigned to lviggiano

[2013-09-24 16:10] lcodes opened #53 "Add support for YAML and JSON loaders"
Given that a properties file is not nearly as convenient to edit as a YAML or JSON file, support to load configuration in these formats would definitely be a good thing.

In my case, it would make the choice of owner to manage application settings a no-brainer.

[2013-09-30 08:12] alkan opened #54 "Objects are not serializable"
Version: 1.0.4.1

I am using OWNER framework with Twitter/Storm.  Such frameworks requires all instance variables should be serializable.   Could you please make all objects you define be serializable?

[2013-10-03 18:53] lviggiano opened #55 "Allow to register user specified loaders to support additional file formats"
Something like:

[code]

[2013-10-09 15:13] #55 closed, assigned to lviggiano

[2013-10-09 15:14] #47 closed, assigned to lviggiano

[2013-10-09 15:14] #43 closed, assigned to lviggiano

[2013-10-09 15:15] #54 closed, assigned to lviggiano

[2013-10-12 05:38] binkley opened #56 "@Prefix annotation on interfaces for keys"
I'd rather write:

[code]

Than:

[code]

Especially as @Key doesn't seem to like @Key("${prefix}.baz").  (But please consider @Prefix first!  Or @KeyPrefix!)

[2013-10-17 05:52] ghost opened #57 "@Required"
It would be nice if OWNER supports the possibility to declare an option as required, maybe with an annotation called @Required. If no value was assigned to such an option, OWNER should throw an exception and gives the possibility to write a nice overview of options that are required to a given OutputStream.

What do you think?

[2013-10-18 16:53] lviggiano opened #58 "add method/class addRollbackListener()"
When a rollback happens, a `RollbackListener` class should receive the notification of the `RollbackEvent`, which also include the event generating the rollback (like a `PropertyChangeEvent` or a `ReloadEvent`)

The user can intercept rollback event and do something useful for the application (i.e. print some log information)

[2013-10-18 19:33] lviggiano opened #59 "Add Coveralls to the build process"
https://coveralls.io/

[2013-10-18 19:41] lviggiano opened #60 "Replace NullPointerException with IllegalArgumentException"
Methods

`DefaultFactory.checkKey(String key)`

`LoadersManager.registerLoader(Loader loader)`

are throwing `NullPointerException`, need to throw `IllegalArgumentException`

As done in 729ad7f52

[2013-10-18 19:42] #60 closed, assigned to lviggiano

[2013-10-18 22:37] #59 closed, assigned to lviggiano

[2013-10-26 04:22] Ronmck opened #61 "Load XML file manually using owner"
I would like to load a XML file like the following manually from the command line
See your sample nice XML formatted file.

[code]

Can this be done using owner ?

[2013-10-26 09:05] lviggiano opened #62 "add method loadFromXML() to Mutable interface"
this isn't just a delegate to [properties.loadFromXML()](http://docs.oracle.com/javase/7/docs/api/java/util/Properties.html#loadFromXML%28java.io.InputStream%29) but it has to load also the xml using the [XMLLoader](https://github.com/lviggiano/owner/blob/master/owner/src/main/java/org/aeonbits/owner/loaders/XMLLoader.java) class which allows user defined xml formats.

See #61

[2013-10-26 11:18] #61 closed, assigned to lviggiano

[2013-10-28 09:22] lviggiano opened #63 "Support for variables expansion in the `@Key` annotation"
Example:

[code]

Mapping class and example usage:

[code]

This way you can select `${env}` in the ConfigFactory (or from the system properties) and have the above interface map to the appropriate section.

See: #56 #48

[2013-12-06 11:55] lviggiano opened #64 "Singleton?"
Provide a way to define a singleton `Config` objects instead of creating new instances at every `create()` request.

3 possible ways:
1. Provide a `@Singleton` annotation
2. Provide a `ConfigFactory.getInstance()` method
3. Nothing. It's a problem of IoC and as that should be solved.

Also provide an example (on a new examples mvn module) to show how to instantiate singleton objects with Spring. S

[2013-12-21 08:00] asereda opened #65 "Support for scala-like configuration (HOCON)"
[HOCON](https://github.com/typesafehub/config/blob/master/HOCON.md)  format seems to be a viable alternative to JSON notation for java/scala projects. It would be interesting to see if [typesafe config](https://github.com/typesafehub/config) can be integrated with this project (at least at syntax level)

[2014-01-23 13:39] gembin opened #66 "Enhancement: add @Config and without extends Config interface?"
add `@Config` annotation, without extends  `Config` interface to have a more clean interface?

example:

[code]

[2014-01-25 23:18] binkley opened #67 "API for programmatic type information on the properties"
I'm working on some integration of jopt-simple & owner api.  It's general code that doesn't know the exact type or methods of the config interface.

When extending AccessibleI can get the method/key names as properties (yay!), however fetching the properties returns strings; I need converted values so I can see their types.

(I use the the prop names and, if it were available, the types to train t

[2014-02-01 04:18] mmadson opened #68 "Builtin Support for java.nio.file.Path"
Great library and stellar documentation, simple request to support Path like File. (without the need for a custom converter)

Thanks!

[2014-02-03 23:14] mmadson opened #69 "Variable expansion support for @Key"
@Key("myapp.${webappContextName}.jdbc.url")

Then I could create a new ConfigFactory passing in the webappContextName as a property and get a new jdbc url for each instance of my webapp. That'd be pretty neat.

[2014-02-08 15:59] #63 closed, assigned to lviggiano

[2014-02-08 16:24] #68 closed, assigned to lviggiano

[2014-02-10 19:14] #69 closed, assigned to lviggiano

[2014-02-25 02:17] lviggiano opened #71 "Conversion bug (different behavior between java6 and java7)"
[code]

is raising NumberFormatException on java 7:

[code]

is raising UnsupportedOperationException on java 6

[code]

[2014-02-25 02:19] #71 closed, assigned to lviggiano

[2014-03-06 05:52] mmadson opened #72 "Feature Request: Composite Objects"
Hi again,

This may be a bit outside the scope of what Owner should be able to do but I figured I'd throw it out there anyway.

[code]

[2014-03-07 00:19] mmadson opened #73 "Implement annotation inheritence for @Config.Sources annotation"
[code]

Note the config sources is only declared on the BaseProperties interface, yet if the properties sources file contains a value for either FOO or BAR it should override the runtime value of the property. I believe this functionality can be implemented by supporting http://docs.oracle.com/javase/1.5.0/docs/api/java/lang/annotation/Inherited.html on the @Config.Sources annotation

[2014-03-11 15:03] ghost opened #74 "Command line arguments"
Is it possible to define command line arguments as source? If not, this would be a nice feature. What do you think?

[2014-03-11 23:03] #67 closed, assigned to nobody

[2014-04-08 19:59] #73 closed, assigned to nobody

[2014-04-10 13:49] Coinhunter opened #75 "Question: PropertiesManager"
First, I'd like to say that this is likely more of a problem with gradle than it is owner, but since this is an issue that's likely to crop up for many projects wishing to utilize this lib I thought I'd post it anyway, and perhaps someone else will do some additional digging. So... I'm having problems using owner in a project because it seems not all of the beans get transitively added to the apk

[2014-04-14 21:49] #74 closed, assigned to lviggiano

[2014-05-03 23:29] #64 closed, assigned to nobody

[2014-05-07 22:12] drapostolos opened #76 "Type-Parser/Owner collaboration?"
Hi

Would you be interested in any collaboration with the `type-parser` library (https://github.com/drapostolos/type-parser)?

I see the internals of `owner` has support for converting strings to java types (including Generic types). But this (excellent) functionality is not public and reusable by others. That is what the `type-parser` library does, makes this functionality reusable to anyone :)

[2014-05-14 13:54] suplik10 opened #77 "UTF-8 encoding properties"
Hi Iviggiano,
I'm very interested in your amaizing project OWNER. But now i have a problem with correctly loading properties. I need load properties with czech diacritic (like as áčďéěíňóřšťůúýž) in UTF-8 format. Properties of file names.properties are set on UTF-8 like as my Ecliplse project, but OWNER still load String ÄÄÃ©ÄÃ­ÅÃ³ÅÅ.

Can u help me ?

Thank u very much

[2014-05-23 10:24] #77 closed, assigned to nobody

[2014-06-16 12:23] ksaritek opened #81 "get config from zookeeper"
is there a possibilty to create config from zookeeper instead of file on classpath?

[2014-06-25 13:01] andreipet opened #82 "@DefaultValue and Variable expansion for the @Key"
Something like this is not working because the default collection will contain the default value for unexpanded key: servers.${env}.name
@Key("servers.${env}.name")
@DefaultValue("test")
 String name();

So default value is useless.
I think in PropertiesInvocationHandler.resolveProperty should be checked the unexpanded key if the expanded key was not found.

Thank you.

[2014-07-10 21:00] mmadson opened #85 "Runtime variable interpolation"
Is it possible to leverage Owner's variable expansion support to perform runtime variable interpolation on strings?

For example, say I have an owner interface that defines a property

[code]

Would it be possible to do something like:

[code]

assuming of course that the the default value for rootPath was not overridden during this test.

Thanks!

EDIT:

After taking a quick peek at the code, it

[2014-07-24 14:31] lviggiano opened #86 "Improve implementation for Fix #84"
See commit 3a08648, the if works just as fallback. If I call debugging aid methods like `toString()` or `list()` I don't see expansion working, since the default value is resolved at runtime not inside the internal structure in the properties file.

[2014-08-12 16:38] lviggiano opened #87 "Nulls in arrays"
From a mail:

[code]

https://gist.github.com/lviggiano/4ce8330e157144c0eb91

Looks like a valid bug.

Need to create a couple of unit tests to integrate this patch.

[2014-08-19 08:45] hemus2121 opened #89 "Issue in type conversion for using @Separator for Abstract attribute"
Hi,
In Type conversion example we have following for Separator Annotation [http://owner.aeonbits.org/docs/type-conversion/]

@Separator(File.pathSeparator);
  File[] path();

-- I fails compilation saying "Attribute value must be Constant", on probing further found that we have pathSeparator in defined as
" public static final String pathSeparator = "" + pathSeparatorChar;" in File.java
and pathSe

[2014-08-19 09:26] #89 closed, assigned to nobody

[2014-08-20 09:54] hemus2121 opened #91 "Is Variable expansion with @Key available 1.0.5.1 version?"
Hi,
While I was experimenting key expansion using properties initially I tried with 1.0.5 version where it failed and returned null value but with 1.0.5.1 version it works but documentation says 1.0.6 version.. Is specific reason for mentioning in doc as 1.0.6 or doc should be updated as 1.0.5.1?

[2014-08-21 05:11] #91 closed, assigned to nobody

[2014-09-02 20:44] spideynn opened #93 "Change values and then save it in the config."
Hi,
Is it possible to change the config value while the application is running and then save the config with the changed value? (If it is then I didn't see it in the docs)

[2014-09-09 20:54] #93 closed, assigned to nobody

[2014-09-10 19:58] caarlos0 opened #94 "`default` interface methods in JDK8 are overriden"
If I use an interface like this:

[code]

The `region` method is overridden by Owner, and always return `null`.

[2014-09-15 08:18] drapostolos opened #95 "How to force a mandatory value, without doing null checks?"
How can I force my users to provide a value for a specific property?

I have defined a `Config` (as below), where I would want the OWNER library to throw an exception (with good error explanation), if the user does not provide a property (either through property file, or system property). Is it possible?

Or even better, is it possible to configure OWNER to throw exception when any property is mis

[2014-09-23 12:12] ashavitt opened #96 "ConfigCache thread safe"
I wanted to know how is the ConfigCache thread safe. Is it thread safe for both set and get operation?

[2014-09-23 12:27] #96 closed, assigned to nobody

[2014-09-29 09:07] sean64 opened #97 "HotReload of Configuration happens twice"
First of all: this project is awesome.  I set about writing one much like it a few weeks back, but then thought "I wonder if someone else has already done this"  And here it is.  It fits my needs perfectly with a minor exception, which already appears to be on the roadmap.  Well done!

However, I've noticed that when using the HotReload annotation with a Reload listener the reload seems to happen

[2014-09-29 09:43] #97 closed, assigned to nobody

[2014-10-01 09:17] #76 closed, assigned to nobody

[2014-10-14 08:27] robinmeiss opened #101 "Build owner as osgi bundle"
Hello,

would it be possible to add the maven-bundle-plugin to build plugins to provide an osgified jar package of owner in maven repo? This would be very nice for us because we're using equinox osgi container and now have to manually convert actual package with BND tools.

Thank you very lot.

Regards,
Robin

POM would be:

[code]

instead of:

[code]

JAR Manifest would be

[code]

instead of:

[2014-10-15 08:34] #81 closed, assigned to nobody

[2014-10-17 09:18] #101 closed, assigned to nobody

[2014-10-18 19:43] drapostolos opened #104 "SimpleDateFormat variable expansion, is it possible?"
I would like to define a `Config` interface like this:

[code]

where

[code]

prints the expected output:

[code]

Where the`X` in "${date:X}" represent any pattern as used by `java.text.SimpleDateFormat`.

More generally, it would be nice to be able to register custom substitutors. Something like this

[code]

Could this be a possible feature for OWNER in the future?

[2014-10-18 20:57] drapostolos opened #105 "Unexpected variable expansion?"
The variable substitution mechanism seems to remove variables not found, is that how it is supposed to do? I was expecting the variables to be left intact in the string if no substitution value found.

For example, I have this Config:

[code]

where this:

[code]

prints the following:

[code]

where I was expecting it to print:

[code]

It could be that:
1) The `${unknown}` part is not actually a

[2014-10-23 08:11] #105 closed, assigned to lviggiano

[2014-10-23 10:00] #75 closed, assigned to lviggiano

[2014-10-31 02:19] romcab opened #109 "Variable Expansion is not working properly"
Hi there,

I'm not sure about this though I decided to still file a request. My test failed, it cannot get any value. However, when I replaced $env with the "uat" or actual value, it passed. It seems that variable expansion is not properly replaced. Hope you can take a look at this.

public class ConfigurationTest {

[code]

}

public interface Configuration extends Config {

[code]

}

Configurat

[2014-10-31 02:24] #109 closed, assigned to nobody

[2014-11-14 17:29] kevin-canadian opened #110 "Feature Request: Add system:properties and system:env as sources"
I would like to be able to specify system properties and/or environment variables as one potential source for properties in addition to files, especially when using the MERGE load type.  Mainly I want to be able to conveniently override default values with system parameters.

Currently it is easy to add ALL system properties or environment variables to a config object.  But I'd like to be able to

[2014-11-18 16:54] #94 closed, assigned to nobody

[2014-11-18 16:55] #82 closed, assigned to lviggiano

[2014-11-27 23:51] #19 closed, assigned to nobody

[2014-11-30 10:48] brentcrammond opened #111 "Integrating Owner with CDI"
# How to Integrate with CDI

The following is how to integrate Owner with CDI.
### Config.java

[code]
### ConfigProvider.java

[code]
### DataBean.java

[code]

[2014-12-09 09:41] #111 closed, assigned to nobody

[2014-12-11 14:57] Gama11 opened #112 "@DefaultValue("null") on Integer: Cannot convert 'null' to java.lang.Integer"
The following:

[code]

produces:

[code]

Even though this is valid Java code:

[code]

I suspect the same is true with `Boolean`, `Double`, `Float` etc...

[2014-12-11 16:02] #112 closed, assigned to nobody

[2014-12-26 15:17] ksaritek opened #113 "zookeeper protocol is not included at owner-extras jar"
protocol classes are not included at assembled jar. Can it be because of
[code]
configuration

[2014-12-26 15:18] ksaritek opened #114 "zookeeper protocol is not included at owner-extras jar"
protocol classes are not included at assembled jar. Can it be because of
org.apache.felix-maven-bundle-plugin-1.4.0
                           org.aeonbits.owner.*
 configuration at root pom file

[2014-12-28 12:42] maltalex opened #115 "Handling large values"
Hi

I've recently started using owner to configure several of my projects and I had an idea for a small, yet significant feature.

Some systems have to deal with large or long values that are hard to validate at a glance. Say I have something set to happen once a day in a system that measures everything in milliseconds. That means that somewhere I have a parameter set to 86400000. Glancing at this

[2015-01-06 20:41] lviggiano commented on #113
Looks like a valid issue.

[2015-01-06 20:44] lviggiano commented on #114
:+1:

[2015-01-06 20:44] lviggiano commented on #113
duplicate of #114

[2015-01-06 20:44] #113 closed

[2015-01-23 13:37] loveperl opened #116 "Add relaxed binding like Spring Boot offers"
Spring Boot offers a useful feature called "relaxed binding". For example, the following could all be bound to "firstName":

firstName   (standard camel case syntax)
first-name    (dashed notation, recommended for use in .properties and .yml files)
FIRST_NAME   (recommended when using system environment variables)

See [External Configuration] (http://docs.spring.io/spring-boot/docs/current/refere

[2015-01-23 17:54] lviggiano commented on #116
Sounds pretty easy to implement. Thanks for the idea.  Will do (when I have time).

I would enable this feature by default, then give the user the possibility to disable it using the @DisableFeature annotation.

[2015-01-26 13:56] stanislav-kobylansky opened #117 "Fail of source is not available"
At this moment there is no way to see what something went wrong on loading configs. E.g. following code, in case when 'appconfig.properties' doesn't exist, will print null without any way sign problem:

[code]

I suppose in this situation would be better to throw exception, as there is no other way to identify that something went wrong. Framework should not just swallow such things.

[2015-01-26 14:22] lviggiano commented on #117
This behavior is by design. If you are missing the resource in yuor classpath the framework returns null or the value specified by @DefaultValue. Missing resources in your program is a programming mistake, not an exception.  Not gonna change this.

[2015-01-26 14:31] stanislav-kobylansky commented on #117
Not arguing that that is programming mistake, but there is no way for the program to identify that it happened, framework doesn't provide that capability to fail if user want it to happen. There is no way to distinguish just a missing property and the absence of the config, which was explicitly specified by developer.

You decision, of course, but it doesn't sound right.

[2015-02-01 18:07] loveperl commented on #117
I have a suggestion that I think will make everyone happy:

In the scenario that stanislav-kobylansky provided, when OWNER sees that the specified properties file is not on the classpath, OWNER should:
(1) State this fact via an SLF4J logging statement at the appropriate level.
(2) Continue to behave as it currently does, by NOT throwing any exception.

As a user of the OWNER library myself, I've

[2015-02-02 17:45] lviggiano commented on #117
I'll think about it.

I am not keen to add logging to owner. I could add an event that notifies the user of the files being loaded with eventual exception event on load. In this case the user can attach an event listener that is called when an exception happens (i.e. file not found) while trying to resolve then `@Sources`, and just print a log info in his own logging system.

But this is not high

[2015-02-02 17:51] lviggiano commented on #114
@ksaritek can you please verify that last commit on `master` branch fixes this? I had to change the OSGi plugin to have the manifest compatible with OSGi without changing the way jars are built.
In case the problem is still there, please reopen this bug.

[2015-02-02 17:53] lviggiano commented on #101
Hi @robinmeiss .

Due to how the felix bundle plugin works, I had to change the packaging. See bug #114

Can you please verify that last commit on `master` keeps a jar which is good for you?
I had to change the OSGi plugin to have the manifest compatible with OSGi without changing the way jars are built.

In case the problem is still there, please reopen this bug. Any help is welcome, since I have

[2015-02-02 17:54] #114 closed

[2015-02-02 17:54] lviggiano commented on #114
Sorry for the long delay, very little time to work on owner lately.

[2015-02-03 10:18] robinmeiss commented on #101
Hi Luigi,

master is still working perfect! No issues with it.

Thanks a lot.

If need some further assistance or help regarding OSGi just contact me.

Best regards,
Robin

[2015-02-03 21:11] andyphillips404 commented on #32
I am using it for projects on HDScores.   Love it, thanks!

[2015-02-03 21:46] lviggiano commented on #32
Recently we adopted OWNER in [Tierra](http://www.tierraservice.com/) a company by [Topcon](http://www.topcon.com/), integrating it in a Spring based architecture.

[2015-02-04 17:20] lviggiano commented on #115
Hi.

I think that adding string evaluation for math expression would sensibly slow down and increase complexity.

BTW, this can be done with something like:

[code]

[code]

I've not tried it, but it should work.

[2015-02-07 16:41] drapostolos commented on #117
+1 for adding logging. I use a merge strategy when reading 4 to 5 different .properties files. It would be nice to see a logging statement saying which .properties files (their paths) where used and in which order (as the user might not always have the source code to check).

[2015-02-07 22:47] lviggiano commented on #117
:+1: message received :)

[2015-03-06 14:01] kassim opened #118 "Support for MessageFormat pattern for parametrized properties"
It would be good to have the possibility to use the MessageFormat pattern, as used by GWT i18n Messages (e.g. "The disk \"{1}\" contains {0} file(s)."),  as to be able to share code between a GWT and other Java project easily.

This isn't possible at the moment is it?

I'll be looking into how I can implement this next week, any suggestions on implementation will be welcome.

[2015-03-09 19:35] lviggiano commented on #118
Hi @mrkma

OWNER supports the [java.util.Formatter](http://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html#syntax) sintax as explained [here](http://owner.aeonbits.org/docs/parametrized-properties/).

I was considering this feature useless, since OWNER is not supposed to be a tool for i18n and I was thinking to replace this feature with the possibility to specify parameters as setters f

[2015-03-09 19:37] lviggiano commented on #118
It could be an idea to be able to specify a Formatter on class level and on method level, by annotations. Defaulting to java.util.Formatter for backward compatibility.

[2015-03-19 08:40] drapostolos commented on #104
just a friendly reminder about this.

[2015-03-23 10:58] kzarzycki commented on #65
+1 !

[2015-03-24 08:32] spr1ng opened #119 "Respect default environment properties"
Consider the following case:

[code]

[code]

[code]

**Expected:**
[code]

**Actual:**
[code]

[2015-03-24 09:42] lviggiano commented on #119
Your example is incomplete and can't be reproduced.

port returns a nullpointer exception probably because the value is unspecified and cannot be mapped to an `int` type.

[2015-03-24 09:52] lviggiano commented on #119
Here your example fixed:

[code]

[code]

[code]

[2015-03-24 10:04] lviggiano commented on #119
You can download a working example from [here](https://github.com/lviggiano/owner/blob/issues-attachments/issues/issue119.tar.gz?raw=true)

[2015-03-24 10:22] spr1ng commented on #119
lviggiano, thank you for the fastest response.
Consider we have the config.properties with one modification.

[code]

I expect the output like in your previous post.

[2015-03-24 10:51] lviggiano commented on #119
I think you may want to do something like this:

[code]

[code]

[code]

working example from [here](https://github.com/lviggiano/owner/raw/issues-attachments/issues/issue119-2.tar.gz)

[2015-03-24 11:12] spr1ng commented on #119
The thing is this approach is able to bring duplicate config parts. *Consider the example:*

[code]

**istead of:**
[code]

[2015-03-24 11:21] lviggiano commented on #119
Possible too:

[code]

[code]

[code]

working example [here](https://github.com/lviggiano/owner/raw/issues-attachments/issues/issue119-3.tar.gz)

[2015-03-24 11:25] spr1ng commented on #119
That is exactly what I was looking for! Many thx, lviggiano.
Btw your project is awesome! ;)

[2015-03-24 11:25] #119 closed

[2015-03-24 11:27] lviggiano commented on #119
Thanks!

[2015-03-24 11:32] spr1ng commented on #119
You should have placed a Flattr button at your web-site. :)

[2015-03-24 11:35] lviggiano commented on #119
Thanks for the suggestion. Will do.

[2015-03-30 11:20] ksaritek commented on #114
when will new release published?

[2015-03-30 20:36] lviggiano commented on #114
Hi. Sorry for the long wait.

I released this evening.  There was an issue with sonatype jar validation that prevented the release to succeed. I had to create a dummy class just to have a jar generated by maven to be deployed in the repository.

 - https://issues.sonatype.org/browse/OSSRH-3723 
 - https://issues.sonatype.org/browse/OSSRH-637

See commit 0d7d3fd3729fc1ada05a404c188ec25062091819

Re

[2015-03-31 04:20] a1730 opened #120 "Any chance of trimming returned values?"
First thank you for a great library - succinct and just right for the job.
We've been using the library a while and we LOVE it! However, QA was getting a funky error over the weekend and it turns out that one of the integer properties was throwing a conversion error.
The line in the properties file is
[code]
The intent is for a polling period of 5 minutes. We caught the first exception because of

[2015-03-31 16:21] rajatvig opened #121 "No owner-parent in Maven Central"
This prevents usage of the owner.
http://repo1.maven.org/maven2/org/aeonbits/owner/owner-parent/

[2015-03-31 16:26] lviggiano commented on #121
wow... I'll investigate.

Maybe I'll need to do 1.0.8 release. I'm not sure I can fix this without a new release.

Really upset about SonaType process...

[2015-03-31 22:34] lviggiano commented on #121
I released version 1.0.8 (since I cannot fix released artifact 1.0.7). This time, looks like everything is ok. Can you please check and verify? (and eventually close this issue?)

It looks like some problem happened during upload the artifacts on SonaType during `mvn release:perform`. But what happened actually with 1.0.7, is not clear to me, since I didn't find any log to review the deployment st

[2015-03-31 23:00] rajatvig commented on #121
Thanks for quick turn around time.

[2015-03-31 23:00] #121 closed

[2015-03-31 23:37] lviggiano commented on #32
Updated stats

![chart](https://cloud.githubusercontent.com/assets/160928/6931614/92991d66-d80f-11e4-9965-ed9082490ad8.png)

[2015-04-02 13:06] ksaritek commented on #114
Yep, I will check :)

[2015-04-09 14:38] ksaritek commented on #114
sorry for delay, seems ok :+1:

[2015-04-13 13:13] outofrange opened #123 "Config.Sources with ~ doesn't create a valid URI on Windows"
If you execute the following simple example on Windows, you will see an URISyntaxException when creating the Config.

[code]

The problem is that `System.getProperty("user.home")` returns a path sepererated by backslashes on Windows, which isn't allowed in URIs.

[code]

There is quite a simple (but ugly) workaround available - just replacing backward- with forward slashes in `${sys:user.home}`

A

[2015-04-14 12:50] lviggiano commented on #123
Thanks for the bug report. I'll verify it soon and fix it asap.

[2015-04-14 13:51] lviggiano commented on #123
I think it's fixed on master branch. I packaged a [zip file](https://github.com/lviggiano/owner/raw/issues-attachments/issues/issue123/owner-1.0.9-SNAPSHOT-bin.zip) for your convenience if you would like to test it.

[2015-04-14 14:09] outofrange commented on #123
Awesome! I will test it in a few hours and give you feedback - but looking at your commit, it seems to solve the issue.

When are you planning to release 1.0.9? Of course, I would prefer to just use it as a Maven dependency - if you want to wait with 1.0.9, which is fine, I can add the custom build from master branch as well.

[2015-04-14 14:37] lviggiano commented on #123
Asap.

[2015-04-14 15:08] lviggiano commented on #123
I deployed latest snapshot on this repo: https://oss.sonatype.org/content/repositories/snapshots/

Eventually you can configure your project to use the snapshot repository until next release.

Here you could find some help, eventually: http://stackoverflow.com/questions/7715321/how-to-download-snapshot-version-from-maven-snapshot-repository

I am not familiar with this, but you can try and see if

[2015-04-14 15:52] outofrange commented on #123
You did a great job already!

Thanks for your support. I just tested the snapshot, with success.

[2015-04-14 15:52] #123 closed

[2015-04-14 16:06] lviggiano commented on #120
I'll look into it asap.

[2015-04-14 16:43] lviggiano commented on #120
Hi.

The [properties file format](http://docs.oracle.com/cd/E23095_01/Platform.93/ATGProgGuide/html/s0204propertiesfileformat01.html) does not support inline comments:

In fact the "# secs" is taken as part of the property value, and I get this error:

[code]

Also my IDE (IntelliJ IDEA 14) shows the trailing "#" in green as value of the property:

![screen shot 2015-04-14 at 18 26 18](https://clo

[2015-04-16 08:38] #120 closed

[2015-04-16 08:46] lviggiano commented on #120
Hi.

I committed on master branch a new 'Preprocessor' feature. Here is an example on how to use it:

[code]

full source code of this example is available [here](https://github.com/lviggiano/owner/blob/master/owner/src/test/java/org/aeonbits/owner/PreprocessorTest.java).

[2015-04-16 10:39] lviggiano commented on #118
Note for myself: could this be included in the preprocessor feature? See #120

[2015-04-16 10:40] lviggiano commented on #120
The interface of Preprocessor may change to address also #118, I could include parameter values passed to the method, and eventually additional context objects (i.e. the internal properties representation for other properties.)

[2015-04-22 19:11] erickjx opened #124 "Suport properties in DataBase"
Hi, great work.

It's possible add suport to read properties from DataBase?

[2015-04-23 15:10] lviggiano commented on #124
Thanks @erickjx .

At the moment there is no built-in support for proprierties from Database, but there is a pluggable mechanism to load properties from different sources.

See [`ConfigFactory.registerLoader()`](http://owner.newinstance.it/latest/apidocs/org/aeonbits/owner/ConfigFactory.html#registerLoader-org.aeonbits.owner.loaders.Loader-) method and the [`Loader`](http://owner.newinstance.it/la

[2015-04-23 15:44] cdanger opened #125 "Replace "extends Config" with "implements Config" in documentation"
Hello,
I am new to Owner and I just tried copy-pasting code from one of the examples on the owner.aeonbits.org website. I got an error before I realize that Config is an interface. So I guess the documentation should be fixed to replace "extends Config" by "implements Config" everywhere, shouldn't it?

[2015-04-23 15:51] lviggiano commented on #125
a class implements an interface.
an interface extends another interface.

Since your config interface is an interface, it extends the `Config` interface.

[code]

So the documentation is correct.

[2015-04-23 19:58] cdanger commented on #125
Sorry for my too-quick stupid comment, you're right. I remembered I changed MyConfig to a simple class before I got the error. So you can delete this issue, as there is no issue here. Thanks for the quick reply!

[2015-04-23 19:58] #125 closed

[2015-04-23 20:19] lviggiano commented on #125
no problem :)

[2015-04-27 19:59] erickjx commented on #124
Its possible read from DB, and if not available fall back to properties or url o jar?, i will made a Generic Hibernate Loader

[2015-04-28 14:28] lviggiano commented on #124
yes, http://owner.aeonbits.org/docs/loading-strategies/

In particular have a look at the "merge" loading strategy.

[2015-04-28 21:03] a1730 commented on #120
Thanks Iviggiano!
We are aware that Java properties api does not support inline comment and that was why it was a 'would be nice' request. Also, we would not be looking for alternative solution if that Java built-in solution had worked.
Thank you for your elegant solution to our requests. We will test your solution asap.

More importantly, thank you for a job well done on the Owner library.

[2015-05-06 13:23] a1730 commented on #120
Hi!
I just wanted to say that the pre-processor functionality is awesome.
The solution solved our problems - we are happy.
Thank you.

[2015-05-06 13:47] lviggiano commented on #120
Thanks for your feedback.
The feature will be available with the next released jar in maven central repository, I hope soon. (I am planning to get back on more active development on this library soon)

[2015-05-14 15:36] reardley commented on #32
Having struggled for years looking for a clean XML based Java configuration system, I downloaded OWNER a few weeks ago and found that it fit the bill.  Thanks for the great work.  I have one question.

I have configured it for numerous complex values using converters, and other methods but there is one technique I have not figure out.  That is how to create a multidimensional result (such as a two

[2015-05-27 13:00] outofrange commented on #115
For your particular use case, I would recommend you to use strings with time units (like "1w" or "1w 12m" or something like that) instead of raw values - even less thinking than with "24 * 60 * 60 * 1000"

Parsing such Strings is rather simple, it could be done like this: https://gist.github.com/outofrange/913b93bcb34124eea0e1

@lviggiano I think that Owner could provide some more default Converte

[2015-06-10 11:44] bodunov opened #126 "Q: how to support an array with unknown number of elements"
Hi, this is a question related to nested collections or arrays of complex types. I saw already similar questions and answers, and also a possibility to use variable expansion, but I still didn't figure out how to deal with cases when amount of elements in collection is not known beforehand.
Example: list of servers (each server has host, port, login), but amount of servers not known. How to repres

[2015-06-14 16:25] aymen083 opened #127 "Error while using user.home with sources on windows"
On windows when i try to use
[code]
I have this exception :
[code]
I think it's caused bu the back slash (\\) in the user home folder in windows.

[2015-06-17 21:27] lviggiano commented on #127
Hi. Thanks for the report.

This has been solved on `master` branch. I need to release a new version with the problem fixed.

See #123

[2015-06-18 09:17] abysas opened #128 "Property sources in parent interfaces are not inherited"
I wanted to split configuration interfaces which would share the same property sources and their loading/merging strategy. For that I wanted to define parent interface specifying those sources. Unfortunately in that case the properties are not loaded.

For example, I have parent interface which specifies sources to property files:
[code]
and sub interface which extends the parent:
[code]
I have pr

[2015-06-18 10:37] lviggiano commented on #128
Hi @abysas, this can be surely improved, but I think it is correct to specify the `@Sources` annotation in the sub interface. I could add the ability to include the `@Sources` from the super interface too as improvement.

[2015-06-18 11:12] abysas commented on #128
@lviggiano, that would be great and IMHO it would allow to follow "don't repeat yourself" principle, don't you think :)

I guess such behavior could be default, unless subinterfaces were annotated with `@Sources` as well, which would effectively override the sources in super interface.

[2015-06-29 11:57] bodunov commented on #126
Here I post my solution to this problem. It is built using variable expansion and type conversion.
@Sources({"file:config.txt"})
public interface MyConfig extends Config {
	@Separator(",")
	@Key("servers.list")
	@ConverterClass(ServerConverter.class)
	List<Server> servers();
}
@Sources({"file:config.txt"})
public interface Server extends Config {
	@Key("server.${server}.host")
	String host();
	@Ke

[2015-06-29 14:27] lviggiano commented on #126
Quite brilliant I must say. :+1:

[2015-07-13 17:23] jiri-neuman opened #129 "Nested configuration interfaces"
Hi, I've just came across your project and I really like it. I'd like to use it in our project and I have one question. Is it possible to create a configuration interface with additional nested interfaces.

An example of the idea:

[code]

And the corresponding properties configuration:

[code]

I would expect to pass the *AppConfig* to the *ConfigFactory.create()* and get the whole structure popu

[2015-07-14 08:42] bodunov commented on #129
Why would you need nested configuration for this case? For your configuration you can have one interface and three keys/methods like this:
[code]
Perhaps, you have some more difficult use case in mind?
Anyway.. you could achieve the desired effect by doing something like this:
[code]

[2015-07-14 10:11] jiri-neuman commented on #129
Indeed, I had a more complex case in mind. When you have larger configuration with many section, it's actually better to split into multiple interfaces and not having tens or hundreds of methods in one interface. My example was shortened just to explain what I want to achieve.

Thanks a lot for your suggestion, I believe this principle can be successfully used to achieve the desired behavior with

[2015-07-14 10:47] bodunov commented on #129
The proposed solution is good when you don't know the name of some property (section). But if all properties' names are known beforehand and you just want to make a logical split into multiple interfaces, then you could use following approach:
[code]
Getting rid of multiple @Sources's was already proposed in some other thread.

[2015-07-14 22:28] mooreds opened #130 "S3 location loader"
Has anyone created a loader that will read from s3?

http://owner.newinstance.it/latest/apidocs/org/aeonbits/owner/loaders/Loader.html

We're on a PaaS that has an ephemeral filesystem and want to be able to read and write properties dynamically.

[2015-07-17 20:28] drapostolos commented on #129
I'm sorry for going a bit off topic here, but I could not find any thread explaining how to get rid of multiple `@Sources`. Any hints?

[2015-07-17 20:38] bodunov commented on #129
There is no thread which explains how to actually get rid of multiple @Sources. There is just a thread where this issue was brought up and considered to be doable:
https://github.com/lviggiano/owner/issues/128

[2015-07-18 18:45] lviggiano commented on #115
@outofrange owner-extras is for things who are not "core features" that can be pluggable. As well for things who bring transitive dependencies. So, yes, custom loaders, converters, etc. can be added there, and if they don't bring transitive dependencies and are very useful, then we can add to the main owner.jar artifact (owner module).

[2015-07-20 22:04] drapostolos commented on #126
In above example:
When the configuration file is maintained manually and there are a lot of servers, it is quite easy to forget to add/remove the sever name in the `servers.list`. Below is an example that removes the server names duplication. Slightly more code, but worth it IMHO.

Use an `Accessible` configuration and parse the property names for the available server names. The configuration file

[2015-07-22 10:04] vaspoz opened #132 "Can OWNER create new instances?"
HI

I wonder, if I could create new object instances from my properties in ".xml" file.
Suppose I have a class Person with few fields:
[code]

And Configuration.xml:
[code]

And interface:
[code]

So how can I create some instance like that:
[code]

[2015-07-22 14:49] lviggiano commented on #132
Hi @vaspoz

This would be nice, but at the moment it is not supported. It sounds similar to #2 #129 and maybe #45

At the moment I don't think this can be done with existing features.

[2015-07-22 17:34] lviggiano commented on #120
Today I release OWNER 1.0.9.  Sorry for the long delay.
Hope everything is fine; let me know if there is any problem with it.

[2015-07-22 17:35] lviggiano commented on #123
Today I release OWNER 1.0.9.  Sorry for the long delay.
Hope everything is fine; let me know if there is any problem with it.

[2015-07-27 03:16] gintau opened #133 "Variable expansion with parameter"
From document I only see parameter is used for default value.
Is it possible for @key to resolve property key from parameter?
We can use different syntax to that used by current variable expansion feature, like $[param_name]

If parameter can only be used in one place, personally I'd choose to use parameter on key, since users can easily compose the default value by themselves. The interface doesn

[2015-07-29 12:52] ant1g opened #134 "Can't convert 'file:${my.properties}' to a valid URI"
Hi,

In the latest 1.0.9, I am seeing an exception being thrown when creating the config from the ConfigFactory.
Here is the exception:
[code]

Here is my @Sources annotation:
[code]

This used to work fine in previous versions (1.0.5.1), as follows:
- If a system property "my.properties" was defined, it would use it first
- If not, it would try to look for another system property called "my.env",

[2015-07-31 16:20] lviggiano commented on #134
Hello @ant1g

I had a look at it, and I am sorry you are experiencing this problem, since my goal is to make sure that everything that works with a prior version still works with updates. But this is not always easy to predict and sometime this has to be broken in order to let things evolve without too many chains.

In version 1.0.7 and 1.0.8 internal implementation of owner has been changed in or

[2015-07-31 16:34] lviggiano commented on #133
The parameters are used not only for the default value but also for the value resolved from the property file.

I've not understood the rest of the question. Please provide some sample code with some sample results to better explain what you are asking.

[2015-07-31 16:37] lviggiano commented on #130
I'm not aware of anyone providing the S3 loader.

if you implemented by your own, you can contribute it into the owner-extras module with unit tests (mandatory), and eventually write some documentation for the site (optional).

If the code is ok and you're agreeing to license it with OWNER license I will merge it.

Thanks.

L.

[2015-07-31 16:38] lviggiano commented on #127
This should have been addressed by release 1.0.9.

[2015-07-31 16:38] #127 closed

[2015-08-08 18:48] m1dnight opened #135 "Strings with special characters require escaping"
Hi,

First of all, thanks for the nice library!

The bug/feature request I would like to report is escaping of `String`s. I wanted to use this library to read in passwords from a user. I think it is very probable that a user has special characters, including `%` in his password.

When I have the given config file (from your website):

[code]

And I execute this code:

[code]

This is the result I

[2015-08-08 18:53] m1dnight commented on #135
I have been reading through the documentations some more and I have found the issue.

Excuse me for this issue!

The solution was to paramterize the property with `@DisableFeature(PARAMETER_FORMATTING)` which yields the following config class:

[code]

[2015-08-08 18:53] #135 closed

[2015-08-14 19:34] ant1g commented on #134
Hi Luigi,

Thanks for your reply! I was away for some time.
I am gonna have a deeper look at the issue. If I find an elegant way to fix or work around the problem, I'll submit a pull request so that you can have a look!

I understand your proposed solution, but I am always against adding unnecessary code in the client...

Please keep the issue open for a little while, I'll come back to you soon.

[2015-08-14 20:23] lviggiano commented on #134
Ok Thanks
Il 14/ago/2015 21:34, "Antoine" <notifications@github.com> ha scritto:

[2015-08-19 21:24] martypitt commented on #65
+1

[2015-09-02 13:27] lviggiano commented on #135
No problem :)

I would have replied if I remembered that the feature were there, but I wasn't sure and I was in holiday so I had the chance to look into it only today.

[2015-09-09 16:26] ant1g commented on #134
Hi Luigi,
Would it be an option to simply not re-throw the URISyntaxException and just ignore it?
It would then get on to the next @Source and try to load it.
I really believe that this overloading mechanism (in order) is nice, and I must definitely not be the only one wanting that!
This is actually a core feature to me!
I can imagine that it would be annoying for someone to have to supply a syste

[2015-09-14 14:45] bodunov opened #141 "Trim string values"
Hi, does the Owner trim extra whitespaces at the end of property values? If not, is there any easy way to tell to the Owner to do it for String parameters? For example, I have a property "hostname=abc.xyz.com  ", and I want to get "abc.xyz.com" as the value, but now I am getting "abc.xyz.com   ".

[2015-09-14 14:49] bodunov commented on #141
ok, I think I just found an answer by browsing the latest sources.. Use Preprocessor then.

[2015-09-16 10:09] rrialq commented on #49
The following code avoids the commons-codec library. It is an example about using javax.crypto.

The implementation:
[code]

A simple test:
[code]

[2015-09-16 10:46] rrialq commented on #49
As ideas about encryption:
* **@EncryptionSupport** to annotate a configuration to support encrypted values in some keys. Something like @EncryptionSupport( algorithm, key, encoding).
* **@EncryptedKey** to annotate a property as encripted.
So we will have something like:

[code]

[2015-09-22 12:52] cbe317 opened #143 "Suport properties in JNDI"
I would like to be able to specify jndi properties as one potential source for properties in addition to others, especially when using the MERGE load type.
Mainly I want to be able to conveniently override default values with jndi properties.

Specifically, I would like to be able to do something like the following.

@LoadPolicy(LoadType.MERGE)
@Sources({
  "jndi:comp/env/myconfig",
  "file:~/myco

[2015-09-28 09:41] ant1g commented on #134
By the way, I found something else a bit annoying with the URIs, if you use a windows path as a system property when starting your app, it will fail with the same exception.
For instance you give a valid quoted windows path like this:
[code]
I will throw a "java.net.URISyntaxException: Illegal character in opaque part at index..." (where the space is...)

Reverting to 1.0.5.1 (with URLs) makes it

[2015-10-01 09:10] ketan commented on #53
I've submitted a #144 to add some JSON support. I'm sure it should be straight forward to port it to YAML, in case someone is interested.

[2015-10-02 09:11] averst69 commented on #134
I reverted to version 1.0.6 and it worked again

[2015-10-02 23:23] utexasdelirium opened #146 "@ConverterClass does support classes that inherit from collections (List, Set, etc...)"
Apparently Owner has higher priority for its own collections converter than when given an class that implements a collection such as List.

Unit test that fail below:
https://gist.github.com/utexasdelirium/762488f686a482661192

[2015-10-06 18:39] sanity opened #147 "Recommended usage pattern with dependency injection framework?"
Are there any recommended usage patterns for using Owner in conjunction with a dependency injection framework like Guice?

Guice already has basic support for reading parameters from a .properties file and injecting into classes, but it's fairly bare-bones.  It would be nice if Owner could be used with Guice in a "Guiceful" way.

[2015-10-29 06:42] pramodbms opened #148 "Retrieve the Config object for a property name"
Hi,

I would like to know if its possible to retrieve "Config" object by using the property name?

Consider the below code:

`interface SampleConfiguration extends Mutable {
       String PORT = "abc.port";
       @Key(PORT)
        int getPort();
}`

// Standard way of getting the Config instance
`SampleConfiguration config = ConfigCache.getOrCreate(SampleConfiguration.class);`

Is there a way to

[2015-11-09 08:30] marx-freedom commented on #147
I'm using something like this

[code]

in Guice module:
[code]

in code:

[code]

[2015-11-24 12:13] QuantumGestalt commented on #134
Just investigating OWNER for use in my own project, when I came across this thread.

Thought I'd chime in to point out that URIs are Encoded. See the introductory message in the API doc https://docs.oracle.com/javase/8/docs/api/java/net/URL.html or even http://docs.oracle.com/javase/1.5.0/docs/api/java/net/URL.html).

[2015-11-24 16:45] lviggiano commented on #134
Hi. If someone wants to improve this part, it would  be welcome. Just note that we need URIs, not just URLs.
And please note that at the moment I am closed into a hospital for important health issues, so I cannot really look into the code for some time to merge the improvements.

[2015-11-24 19:57] gtimbo opened #150 "Restrict Accessible/Mutable/Object methods to the properties defined in the mapping interface"
In my application I've defined multiple mapping interfaces that all use the same properties file. This makes it easier to configure the application (using a single file) while making the code more maintainable. Plus, I also need to support mapping interfaces that are supplied by plugins, which may also use the application's properties file.

The issue I'm having is that when I call, say, `toString

[2015-12-16 13:54] ketan commented on #129
Have you seen #145 - would you like giving some feedback there?

[2015-12-27 21:02] lancedfr opened #151 "Nested variable expansions"
Example properties file
[code]
With Owner hibernate.dialect resolves to `.hibernate.dialect}`
With Apache commons configuration and Spring PropertyResolver hibernate.dialect resolves to `org.hibernate.dialect.HSQLDialect`

Please add support for nested variable expansions

[2015-12-27 21:07] lancedfr commented on #151
also see [commons configuration variable interpolation] (https://commons.apache.org/proper/commons-configuration/userguide/howto_basicfeatures.html#Variable_Interpolation)
"References to variables can be nested"

[2016-01-25 23:20] The-Alchemist opened #153 "best way to create JDBC datasource?"
Is there any preliminary JDBC support?  If not, that's ok.  I'm more than happy to contribute if someone points me in the right direction. :)  Maybe there's a fork out there somewhere?

[2016-01-26 15:38] lviggiano commented on #153
Hi. No, there isn't any support for jdbc and I'm not aware of any fork implementing that. It should be easy to implement a jdbc properties loader (see Loader interface).

[2016-01-26 15:49] The-Alchemist commented on #153
Awesome, thanks @lviggiano .  Are you guys open to accepting a PR implementing a JDBC-based Loader implementation?

[2016-01-26 15:53] lviggiano commented on #153
Sure, you can open a pull request. Just be patient, since it's some time I'm not actively working on this project for health reasons, so it may take time for me to review. I plan to get back to work on this soon (asap).

[2016-01-28 06:51] gtimbo commented on #150
Thinking about this a bit more (and testing an implementation), it turns out that I hadn't considered variable substitution (which I'm not using). Given that properties used for substitution may or may not be available in the Config interface, you can't assume that the underlying properties object will only contain properties from the Config interface.

So, the only option within Owner would indee

[2016-01-29 13:03] lviggiano commented on #150
Hi. I'll look into this. Sorry for the delay.

Recently I had health issues, so I hadn't the chance to work on the project, but I'd like to get back on track as soon as possible.

[2016-02-08 19:21] perber opened #154 "Config.Sources ~ doesn't create a valid URI on android"
The reason of this error is because, android returns on system.getProperty("user.home") a /
Your replaceFunction replaces the ~ with an /.
This means a uri which looks like this
file:~/obehave/obehave.properties
would afterwards look like this
file://obehave/obehave.properties and the application crashes.

![image](https://cloud.githubusercontent.com/assets/6125824/12896280/6c75c2ae-cea1-11e5-854b

[2016-02-08 19:29] perber commented on #154
Following URIs are working
file:/obehave/obehave.properties
file:~/obehave/obehave.properties

[2016-02-08 22:52] lviggiano commented on #154
Thanks for this report. This should be easy to fix.

[2016-02-09 17:40] perber commented on #154
If you like i could create a pull request for this issue.

[2016-02-10 22:52] StFS opened #155 "Ability to add "default" converters"
Hi.

I'm going to need to add a couple of custom converters (duration and byte size, as in https://github.com/typesafehub/config/blob/master/HOCON.md#units-format).

I was wondering whether there was any way to add converters other than using the ConverterClass annotation?

For example, if I created a DurationConverter for converting strings like "10 minutes" into a java.time.Duration instance, I

[2016-02-11 10:36] lviggiano commented on #155
I see your point and it's possible.

The owner-java8 module is meant to allow java8 feature without breaking the java5 full compatibility.
I am thinking to some mechanism to automatically load converters from the classpath, so that just having some jars in the classpath can be sufficient.

[2016-02-12 14:22] StFS commented on #155
Regarding adding a ByteUnit converter. That would either require defining all the classess needed for that inside the owner project to maintain the "no dependency" rule or find a library and add a dependency.

I'm not quite sure what the rules are here, the owner-java8 module is allowed to have Java8 dependencies, but what about the owner-extras? Is that Java5 only? Can it have dependencies on ext

[2016-02-12 15:52] lviggiano commented on #155
owner-extras, I think, it's less critical than the main module, so from my point of view it can include dependencies as long as we mark them as "optional" (so people can import the module but use just some classes without having necessarily to import dependencies)

Just be patient some more days, since recently I had to stay away from work for (serious) health reasons, and it will take some time f

[2016-02-12 15:52] lviggiano commented on #155
And thanks for all the work you have done.

[2016-02-12 16:26] StFS commented on #155
No worries. Hope you get well soon.

I'll create a pull request for the ByteSize types and use the byteunits library for it, at least to begin with.

[2016-02-12 16:26] lviggiano commented on #155
Thanks again.

[2016-02-12 16:28] lviggiano commented on #155
Also, have a look at the documentation: adding features without documenting, reduces the effectiveness of the code since users don't know the potential.

[2016-02-12 16:34] StFS commented on #155
will do

[2016-02-15 00:30] StFS commented on #155
Just took a quick look at the documentation, the main problem with adding documentation at this point is that I'm not quite sure how this will eventually be used. The main questions I have is, will the DurationConverter class be automatically assigned to configuration interface methods that return java.time.Duration (as long as the owner-java8 jar will be present in the classpath) as discussed in

[2016-03-11 15:00] bcrook opened #159 "Dynamic Parameterized Key Lookup at Runtime"
Is there a way to lookup a key dynamically at runtime based on a parameter?

This is the config structure I'm trying to achieve - maybe there's another way to accomplish the same thing:
[code]
Where GREEN, RED, & YELLOW are Enum values.

I see this is sort of similar to #69 but more dynamic.

The only way I can see this working is as a parameter to the method defined in the Interface.

[code]

So

[2016-03-11 15:57] jackar108 opened #160 "Hot reload fails if typo in configuration files"
I have encountered a problem with hot reload of configuration in the following scenario:
- there is a boolean parameter
- configuration is in a file
- change the configuration but make typo for example fasle instead of false
- hot reload stops to work: even if the typo is corrected, no changes in the file are loaded

[2016-03-11 17:00] lviggiano commented on #160
Hi. This looks like a bug. Can you specify the annotations used to mark the interface hot reloadable? (you know that there are two kind of hot reload : asynchronous and synchronous, so maybe the bug affects only one of the two, or both)

[2016-03-15 09:15] jackar108 commented on #160
@HotReload(value = 2, type = Config.HotReloadType.ASYNC)
It seems in general it is the case when the reload listener throws an exception

[2016-03-22 12:06] marinhapenas opened #161 "@DefaultValue value is obtained in following methods"
My implementation of org.aeonbits.owner.Config have two methods. I use @DefaultValue anotation only in the first of them but, when the property file is not found, I obtain this defaul value in both.

[2016-03-22 12:37] lviggiano commented on #161
Can you paste here your example and show what behavior you are getting?

[2016-03-22 12:53] marinhapenas commented on #161
public interface Configuracion extends Config {
    @Key(PORTLET_TEST)
    @DefaultValue("ofediftest_WAR_ofediftestportlet.default")
    String portletTest();

    @Key(PORTLET_OFERTA)
    String portletOferta();
}

LOGGER.info("configuracion, portletTest:" + configuracion.portletTest());
// I obtain ofediftest_WAR_ofediftestportlet.default

LOGGER.info("configuracion, portletOferta:" + configurac

[2016-03-22 13:05] marinhapenas commented on #161
I find my problem: I had the same value at @Key anotation.
Thanks.

[2016-03-25 10:42] nagkumar opened #162 "Writing Interface and keep maintaining the interface as per property file defination is a big Technical Debt"
It is very pain full to write a respective Interface as per the property files, it would be nice if Interface gets generated and IDE support exists to use the generated Interface in the code

May be project Lombok can be of help here.. as they use Annoations Processor to code generation
https://projectlombok.org/

[2016-03-25 10:44] nagkumar opened #163 "Load Strategy to overide"
It would be nice to have property override strategy rather than just taking the first found one. This can support customizations of specific properties by others more easy..

As reversing the file chain would not help always..

[2016-03-25 10:45] nagkumar opened #164 "Support of Properties dependency"
It would be nice to support properties dependencies so that, one property can depend on another property in same file or super file..

This approach can mean properties file value can constucted from another property value either complete or partially some thing like in ant syntax ${abc}

[2016-03-25 10:49] nagkumar opened #165 "Support for Properties Inheritance"
It would be nice to support property file inheritance through some special key.. this way even the properties file decencies are decided at properties file level and not in code.
e.g

a.properties
b.properties can have special key needs=a
etc..

[2016-03-25 10:51] nagkumar opened #166 "Dynamic Key Names in properties files"
It would be helpful to support dynamic keys in properties files

e.g

${abc}One="raja"

etc

[2016-03-25 10:52] nagkumar commented on #165
apart from special key name, we could also use resource or file name conventions approach where in
a.properties and a1.properties a1 depends on a.propeties etc by conventions..

[2016-03-30 07:40] smgonzales commented on #134
I also ran across the problem of having spaces in the file path.  The fix from icirellik should resolved it when it's available.  To get around it until a fix is available I replaced spaces with %20.  The URI will correctly decode the file path and load the properties as expected.

[2016-04-07 19:41] vpsmax opened #167 "migrating from cocoon to owner"
Hello.

Good afternoon.  Recently, I have implemented Owner to read a configuration file for our application.  Based on the instructions, I have created a configuration file (VeteranAppointmentConfig.properties) and Java interface (VeteranAppointmentConfig.java) with the same name.  Next, I try to test the new Java interface using the ConfigFactory object.  But for some reason, the parameters call

[2016-04-25 13:19] geosmart opened #168 "LoadType cannot be resolved to a variable"
i want to merge the configs by set Loading strategies by `@LoadPolicy(LoadType.MERGE)`,
but the complier said 'LoadType cannot be resolved to a variable'
[code]
I use Java7

[2016-04-25 14:03] lviggiano commented on #168
Add this on top of the file:
[code]

and use it as `@LoadPolicy(MERGE)`

This should solve the problem.

[2016-04-25 14:05] lviggiano commented on #168
Please let me know, and/or close this issue if my clarification solves your problem.

[2016-04-26 05:01] geosmart commented on #168
you'd better update owner doc in  [loading-strategies](http://owner.aeonbits.org/docs/loading-strategies/)
import static and should use `@LoadPolicy(MERGE)`
`@LoadPolicy(LoadType.MERGE)` can not pass compler validation

[2016-05-06 14:03] #134 closed

[2016-05-06 15:44] #110 closed

[2016-05-06 15:54] StFS commented on #110
Hmm... that commit doesn't seem to do very much?

[2016-05-06 16:06] lviggiano commented on #110
I merged this pull request #122:

a2b914d 	Revert LoadStrategyTest
083a539 	Put FIRST and MERGE strategies into new test class
c6acd56 	Add test system properties hot reload
5d5e855 	make all tests pass
3f48e86 	remove header template
85436e7 	resolve #110

[2016-05-06 16:08] StFS commented on #110
ahh ok... the close activity just looked weird because it only referenced the last commit. Sorry about that.

[2016-05-06 16:17] lviggiano commented on #110
No problem; myself would have been confused as well.

[2016-05-06 16:21] lviggiano commented on #110
@StFS please double check the code and the feature to ensure your use case is covered. If you (or @gintau) have time, some documentation on `owner-site` module, would be useful.

[2016-05-06 16:55] lviggiano commented on #168
examples in the documentation always cut off the imports to focus on the meaningful code; it is implied that you need to add the imports where needed.

[2016-05-06 16:55] #168 closed

[2016-05-06 17:06] lviggiano commented on #163
I am not sure I correctly understood your issue.

Property Override is done through `@LoadPolicy(LoadType.MERGE)`; See: http://owner.aeonbits.org/docs/loading-strategies/

This is inspired on how most of unix applications work.
The source is specified in order of importance: more important sources first, least important sources later.

Can't you just reverse che file chain in your `@Sources` annot

[2016-05-06 17:07] lviggiano commented on #163
Closing. If you think it's a real issue, reopen this and please specify more details.

[2016-05-06 17:07] #163 closed

[2016-05-09 18:07] PumpMagic commented on #160
I've noticed similar behavior that may be related: when using asynchronous reload, if any new property is added to the properties file, or if any existing property is removed from the properties file, the `ReloadListener` is no longer called, forever, even when the new property is removed or the removed property is added back. This happens even if the added or removed property isn't in the `Config

[2016-05-11 23:25] Gramler opened #170 "Logging URIs"
It would be very handy for logging / debuging purposes to be able to "get at" the URIs.
This can be easily done in a debugger by inspecting "h.propertiesManger.urls" but i can not see how this can be accessed at run time.

A cursory inspection of the code also did not reveal any quick way to do this.

Is it possible to ad some methodology that allows for the "configuration state" to be written to

[2016-05-12 16:05] nbenketaf opened #171 "Ignore java 8 interfaces default methods"
Hi,

I have a config interface that extends `Accessible` so that I can access to the underlying `Properties`, because I have some properties keys that are created dynamically at runtime.

What I want to do is add some utility methods directly on the config interface, mainly for type convertion of the properties accessed from the underlying `Properties` object.

Here's an example:

[code]

So here'

[2016-05-12 19:05] lviggiano commented on #171
Which version of the library are you using? Default methods should be supported in the last versions released

[2016-05-13 21:25] nbenketaf commented on #171
Sorry for my late response, I'm using version 1.0.9, is this the last version ?

[2016-05-13 21:56] nbenketaf commented on #171
Ok never mind, I was not importing `owner-java8` dependency, now it's working just fine!

Sorry for that and thanks for your help.

[2016-05-13 22:26] lviggiano commented on #171
Great :)

[2016-05-13 22:26] #171 closed

[2016-05-23 12:55] cyfonly opened #172 "Need a Chinese Document ?"
Hello lviggiano, do you need a  Chinese Document ? I have translated it ( http://owner.aeonbits.org/ ) into Chinese. You can see it in my repository ( https://github.com/cyfonly/owner ). If it possible, I can contribute it to your [ owner ] repository .

[2016-05-23 15:11] rrialq opened #173 "Support for a convention and flexible @Sources configuration: @AutoSources"
It should be interesting adding a flexible convention feature about `@Sources` to the library.
This would allow a loosely coupled configuration mechanism, with the following additional benefits:
- It is not longer necessery to know the rules in design time about importing properties.
- Configuration is delegated at a properties file. If you change the rules about importing properties files Owner s

[2016-05-24 09:48] lviggiano commented on #173
Hi.

I'll review your message above more in detail later, but my first thoughts are that when you don't specify the `@Sources` annotation, owner already has some default behavior (loading from the classpath a properties file with same name and package as the driving interface). So, maybe, it would be better to extend the default paths loading, instead of creating a new @AutoSource annotation, that

[2016-05-24 10:04] lviggiano commented on #172
Hi.

That's cool, thanks.

The problem with documentation is to keep it up to date, and I will be unable to do so with the chinese version.

By the way, if you agree, I can link your README.md file from the README.md of owner project, and also from the website.

Or, if you have a better proposal let me know.

Creating a mirror of `http://owner.aeonbits.org/` and have it as  `http://cn.owner.aeonbi

[2016-05-24 10:27] lviggiano commented on #170
It makes sense as request. Also, this has been asked before by some guys (See comments in #117).

This feature should be added, the dependency from logging APIs should be isolated from the main module. But I will think to some solution to the problem, it shouldn't be too hard to have.

Thanks for your help.

[2016-05-24 10:39] lviggiano commented on #32
I found this link: http://www.va.gov/TRM/ToolPage.asp?tid=8257
So it looks like that the United States Department Of Veterans Affairs approved OWNER library for their software.

[2016-05-24 10:41] lviggiano commented on #117
reference to #170

[2016-05-24 10:44] #161 closed

[2016-05-24 10:50] lviggiano commented on #154
@perber: yes please. If you could create a pull request (and possibly a unit test) it would be helpful.

Also, do you know if we can configure travis-ci to have owner be built also with android sdk?

See: https://travis-ci.org/lviggiano/owner

it's long time I wonder if this is feasible, but I am not an expert on android.

[2016-05-24 10:57] bbossola commented on #32
Yeah! That's how you do it!!!

On 24 May 2016 at 11:39, Luigi R. Viggiano <notifications@github.com> wrote:

[2016-05-24 16:45] cyfonly commented on #172
Hi,

Glad to receive your reply.

So far, owner has been applied in several projects of my company, it's quite efficiency and I'm so  happy to translated it into Chinese ,so that people can use owner conveniently.

You can, of course, link my README.md file from the README.md of owner project and from the website. I'm happy to be able to do something for owner.

And as you said, linking my README.

[2016-05-25 15:46] VirgileD opened #174 "Cant get the type conversion to work for valueOf"
Hello,
First, let me say this library is really awesome, I wonder how  I could ever load properties before knowing it.

I'm stuck on a type conversion problem, and after looking at the code ( CLASS_WITH_VALUE_OF_METHOD in Converters.java) I still don't understand why it doesn't work. I try to load the following property:
@Key("videoplayer.background.color")
 @DefaultValue("rgb(0,102,161)")
 javafx

[2016-06-07 19:49] vincentk opened #176 "Generate a java.util.Properties instance from a owner.Config instance?"
Use case:
- use owner library for loading and validating properties from various sources,
- pass it to 3rd party library which requires an argument of type `java.util.Properties` (i.e. conversion from `Config` type required).

It seems to me to be an obvious use case, and I've been reading the docs for a while, as well as skimming the source. Maybe I have not looked closely enough. But I found no

[2016-06-13 16:37] padbou opened #179 "parametrized hot reload ttl"
Hello,

Firstly you're solution is really good !

I would to parametrized the ttl for property reloading by environment (i.e : 5seconds for dev and 5minutes for production), is it possible now ?

Or do I override you're reload strategy ?

Thank's for reading my question.

Florent

[2016-06-14 12:33] lviggiano commented on #179
Hi.

I thought it was possible, but I was wrong.

I tried this:
[code]

But it doesn't work (compilation error).

So, the answer is that what you are asking is not possible. To allow what you are asking it is needed to change owner-core code.

It is an interesting question though, and there are good reasons why what you are asking can be useful, so I may add support for this in future.

[2016-06-14 13:17] padbou commented on #179
Hello,

After some research in your code, I decided to override it.
My best solution for now is something like that :

@HotReload(value="${ttl}")
MyConfig

ConfigFactory.setProperty("ttl", spring.getConfig("ttl"));
ConfigFactory.create ....

And update the propertymanager or hotreloadablelogic ...

I need a solution fastly so maybe it's not the better way ..

[2016-06-14 13:27] lviggiano commented on #179
Looks brilliant.
Il 14 giu 2016 15:17, "padbou" <notifications@github.com> ha scritto:

[2016-06-14 19:38] lviggiano commented on #179
@padbou I think your solution is brilliant, the problem is that if we change the type of the `value` parameter in the `@HotReload` from `long` to `String`, we break API compatibility, and I would avoid that. Either we define a new parameter in the `@HotReload` annotation, or we define a non-declarative and programmable hot reload behavior after the configuration object is created or at creation ti

[2016-06-14 19:44] lviggiano commented on #176
Hi @vincentk,

you want to obtain a `java.util.Properties` from a config Object, right? The [Accessible.fill(java.util.Map)](http://owner.newinstance.it/latest/apidocs/org/aeonbits/owner/Accessible.html#fill-java.util.Map-) method should help.

[code]

Try and let me know.

[2016-06-14 19:59] padbou commented on #179
@lviggiano, thanks for your opinion.
For my case, I change the long to String, but there is another way : add an optionnal parameter as String, if the String is not null, we can replace the long by the String value after conversion and replace by your uri engine.

How can I get you my change, if you are interested ?
Is it possible to create a new branch for this?

Your API is a goold mine for me a

[2016-06-27 00:07] JasonTolotta commented on #174
It would be easier to use a HEX Web value rather than RGB.
You can retrieve the value as a String then do the Color conversion from another getter method.

**NOTE:** Untested code below.

**Configuration Interface**
[code]
**Getter Method**
[code]

https://docs.oracle.com/javafx/2/api/javafx/scene/paint/Color.html

[2016-06-27 22:24] lviggiano commented on #174
Hi.

The problem is that `com.sun.beans.editors.ColorEditor` is found by owner as proper javabean editor for the `javafx.scene.paint.Color` class since the javafx class extends from `java.awt.Color`. For my point of view this is a bug in the com.sun.beans.editors.ColorEditor (since it tries to return a java.awt.Color that cannot be cast to javafx.scene.paint.Color).

I could implement something to

[2016-06-27 22:26] lviggiano commented on #174
Sorry for the long delay. As I mentioned elsewhere I am having health issues that keep me away from coding. But I recently have been pointed out to this issue thanks to @JasonTolotta answer. I apologise for my absence.

I'm closing this issue, but if you are not satisfied by the solution proposed, feel free to reopen it.

[2016-06-27 22:26] #174 closed

[2016-06-27 22:42] lviggiano commented on #174
Another option is to use PropertyEditorManager.registerEditor() to have a propertyEditor for the javafx Color class.

----

Another option is to disable at all the javabeans property editors in OWNER, setting a system property `org.aeonbits.owner.property.editor.disabled=true`. This will completely disable the property editors for all the types. It *should* work fine, you can try it, and if there

[2016-06-27 23:00] #172 closed

[2016-06-27 23:03] lviggiano commented on #172
Added the link. Thank you very much for the effort.

[2016-06-30 03:24] JasonTolotta commented on #167
Sample code?

[2016-07-03 23:43] lviggiano commented on #167
Probably there is a typo in your class name or property file name. Make
sure also they are in the same package in the classpath. See the
documentation for sample code, your use case is the most common one.

Il 30 giu 2016 5:24 AM, "JasonTolotta" <notifications@github.com> ha
scritto:

[2016-07-03 23:44] lviggiano commented on #167
I have no competence on gradle issues.

[2016-07-03 23:48] lviggiano commented on #167
If you want some help, you need to provide some more info, from what you say, things shoul work jist fine. I keep this issue report open, for some time, but I think that the issue you are experiencing is probably something very trivial that you are missing to see (and is missing in this bug report too)

[2016-07-03 23:50] lviggiano commented on #167
Eventually, try to reproduce your issue in an isolated project and send me a zip, or make a mini project on github to reproduce the issue, and I'll have a look.

[2016-07-03 23:57] lviggiano commented on #167
Regarding your gradle problem, you should not use owner 1.0.7 since it's a broken release as I documented here: http://owner.aeonbits.org/news/

If there isn't a good reason, when you work on a greenfield project, you should adopt the latest versions of your libraries. So I suggest to use the 1.0.9, that is the last stable version. And since 1.0.9 is out from quite some time, there is no reason to

[2016-07-05 12:50] vpsmax commented on #167
Thanks Luigi.  We got Owner to work eventually.

From: "Luigi R. Viggiano"
Reply-To: lviggiano/owner
Date: Sunday, July 3, 2016 at 7:58 PM
To: lviggiano/owner
Cc: "Max.Han", Author
Subject: Re: [lviggiano/owner] migrating from cocoon to owner (#167)

Regarding your gradle problem, you should not use owner 1.0.7 since it's a broken release as I documented here: http://owner.aeonbits.org/news/

If t

[2016-07-05 13:40] lviggiano commented on #167
Fantastic news. Closing this issue.

Best regards.

L.

[2016-07-05 13:40] #167 closed

[2016-08-15 23:02] vtkstef opened #180 "Avevi chiesto di fartelo sapere"
https://github.com/VoltDB/voltdb/blob/master/README.thirdparty#L3623

Lo stiamo usando in VoltDB. Complimenti per il buon lavoro.

Ciao
Stefano

[2016-08-23 16:16] lviggiano commented on #180
Grazie!

[2016-08-23 16:16] #180 closed

[2016-08-23 16:16] lviggiano commented on #180
#32

[2016-08-26 16:32] vgarmash commented on #165
I think you can get what you need just by placing multiple source files in correct order. Take a look at [Loading Strategies](http://owner.aeonbits.org/docs/loading-strategies/).

If you need more granular control then you can use [Properties Import](http://owner.aeonbits.org/docs/importing-properties/).

I see no need in implementing some inheritance because the 2 features above cover all of that

[2016-08-26 16:34] vgarmash commented on #164
This feature already exist: [Variable expansion](http://owner.aeonbits.org/docs/variables-expansion/).

[2016-08-26 16:47] vgarmash commented on #153
If you need to load properties form the database and don't want to wait for native database loader support, just use [Importing Properties](http://owner.aeonbits.org/docs/importing-properties/) feature. So all you need to do is write the code which will load properties from the database into Properties object and then create your Owner config from that Properties object.

[code]

[2016-08-26 17:02] vgarmash commented on #32
We use it for www.chewy.com configuration.

[2016-08-31 15:32] StFS opened #181 "Make @DefaultValue accept more than just String."
Currently, something like the following is not possible:

[code]

In this very simple case it would be possible just to use the string "130" but in some cases you might want to point the default value to a constant defined in some class, such as `@DefaultValue(SomeClass.INT_CONSTANT)`.

Would it be possible to have the  `@DefaultValue` annotation accept Object instead of String and then either cal

[2016-08-31 16:11] StFS commented on #181
well... after a bit of reading it seems that Object is not allowed as input to annotations. However primitive types are, so maybe at least being able to specify the default value with String and primitive types?

[2016-09-06 11:42] StFS opened #182 "Java 1.5 language version violation"
Hi.

I just stumbled across a language level violation.

https://github.com/lviggiano/owner/blob/master/owner/src/main/java/org/aeonbits/owner/Converters.java#L51

The String#isEmpty() method wasn't added until v 1.6. IntelliJ displays a warning for this but for some reason, maven lets it slide and does not issue a warning.

The fix is simple of course, change the line to:
`text.trim().length() ==

[2016-09-06 11:55] StFS commented on #182
There are actually quite a few more of these. Some may be difficult to fix, for example, the ZooKeeperConnection class uses IOException(Throwable) constructor that was introduced in 1.6 it seems.

![image](https://cloud.githubusercontent.com/assets/1756/18272702/c8478cfc-7428-11e6-89ff-ce91fae67cd0.png)

[2016-09-18 23:35] StFS opened #184 "Maps with null values cause an unclear exception"
We have a rather complex application that is getting its configuration from all over the place.

We're in the process of cleaning all of that up and OWNER is a big part of that effort. However, we do have to ease into this and so we have configuration coming from many different sources and we're funneling that into OWNER.

Working on this I just stumbled upon a "problem" where one of the maps that

[2016-09-19 00:19] StFS commented on #184
Of course, another option (rather than throwing an `IllegalArgumentException` with the key name in the message) would be to remove illegal entries from the imports and then just use the modified maps as imports.

[2016-09-20 10:17] lviggiano commented on #184
Hi @StFS

`java.util.Properties` extends `java.util.Hashtable` that [does not accept `null`](https://docs.oracle.com/javase/7/docs/api/java/util/Hashtable.html#put(K,%20V)) and throws the NullPointerException.

I'll look in your change and I'll make sure that next release will just ignore the `null`s instead of throwing this NullPointerException.

Thank you.

[2016-10-04 14:53] drapostolos opened #186 "Is it possible to define non-public Preprocessors?"
I want to add a `Preprocessor` to one of my properties, as in below code. I would also like the `ToUpperCase` Preprocessor NOT to be exposed in my public API (i.e. make it private or package-private), is it possible? The below code fails due to `ToUpperCase` is private. Are there any workarounds?

If no workaround is available, would it make sense to change OWNER to suppress Java language access c

[2016-10-17 08:15] drapostolos opened #187 "Converting `~` to java.nio.file.Path?"
Is there native Owner support to convert `~` to a Path object, similar to as for `File`? See code below.

Or do I need to create my own TypeConverter for this? Or could a TypeConverter for `Path` be added in a `owner-java7-extras´ module?

[code]

[2016-10-20 08:55] drapostolos opened #188 "Preprocessor not executed when no @DefaultValue"
Would be nice if a Preprocessor is executed event when no @DefaultValue has been specified. Then it would for example (see below) be possible to add null checks for 'Mandatory' properties and solve #95. Further on, providing some sort of Context object in the `process(String)` method would be nice, for example getting the name of the property that is null in this case. Makes it possible to make a

[2017-01-04 09:27] Shynoo opened #190 "How to edit the .properties file by owner ?"
I couldn't find the way to edit the .properties file .
And the XxxConfig Class from Config interface is method rather than field.

So how could I edit the .properties file ?

[2017-01-04 16:20] drapostolos commented on #190
Not sure this is what you are looking for, but the Mutable and Accessible interfaces provides a way to edit  and store properties. See [this](http://owner.aeonbits.org/docs/accessible-mutable/).

[2017-01-20 10:59] frisco82 opened #191 "Handling of error in type conversions"
We are using owner in our project as we use a lot of property files and type conversion and default values are a fantastic feature that we usually had to reimplement every time.

But I have been testing unexpected errors lately and found that when there is a type conversion exception it is thrown to the application even if a default value is set, I could understand that if the default value is not

[2017-02-06 14:20] kiefinger opened #192 "java.lang.IllegalArgumentException: Illegal group reference"
I found out that there is an error with parameter replacements. If the replacement string contains a $ sign teh exception "java.lang.IllegalArgumentException: Illegal group reference" is thrown.
I found the error in StrSubstitution.java:
m.appendReplacement(sb, fixBackslashForRegex(replacement));
Instead of fixBackslashForRegex(replacement),
m.appendReplacement(sb, Matcher.quoteReplacement(replace

[2017-02-10 11:38] zygimantus opened #194 "String with %s returns null values"
Hi, I am using this library to get some strings from properties files, but I am getting this issue when using `%` in strings, etc: text=/t/%s/api/%s? gives this value: **/t/null/api/null?** How to replace those null values after using `String.format` method?

[2017-02-10 11:40] zygimantus commented on #194
This issue was solved using this: `@DisableFeature(PARAMETER_FORMATTING)`

[2017-02-10 11:40] #194 closed

[2017-02-10 23:42] StFS commented on #32
We're using it at www.wuxinextcode.com for our core technologies.

[2017-02-11 00:39] StFS opened #195 "Using a HashMap with non string values behaves strange"
Consider the following code:

[code]

This can lead to some rather vague errors and it would be preferable if OWNER issued some sort of a warning or even threw an error when this occurs.

This is related to issue #184 but some special handling is needed to catch this.

The underlying cause for this is that the `java.util.Properties` class (which I believe is being used internally in OWNER) is badl

[2017-02-14 22:38] StFS opened #198 "OWNER seems to use Properties#entrySet() internally. Any way to change that?"
@lviggiano this is just a question about the internal design and implementation of OWNER.

The "back story" so to speak, is that I was thinking about implementing a loader that would be backed by etcd and maybe even another one backed by redis. I took a look at the ZooKeeperLoader and must admit that I don't quite understand the way things are done there. Why is there a full blown URI handler bein

[2017-02-14 22:53] StFS commented on #198
I should mention that currently, owner also uses Properties#keySet() but that is actually my own fault since I added that code in a recent PR to ensure that there were no `null` values in the maps that were being supplied to provide the key values. That would have to be refactored as well.

[2017-03-18 18:29] zygimantus commented on #93
I found an easy solution like this:

[code]

[2017-03-24 10:21] michael-wirth opened #199 "Accessible.getProperty(String var1) should also support Variable interpolation"
I need to access some property directly via the `Accessible.getProperty` and I'd like to replace the variable interpolation.

Please add Variaible extension/interpolation for this method.

Thanks.

[2017-03-29 08:23] fstuff opened #200 "UnsupportedOperationException when auto-converting business object using String constructor"
This page of the Owner documentation http://owner.aeonbits.org/docs/type-conversion/ states that

I have declared a constructor in my class to take a single String argument:

[code]

My config source file has the following line:
[code]

When I run my program, I get the following UnsupportedOperationException stack trace:

I was able to use the @ConverterClass annotation to specify a converter clas

[2017-03-29 08:51] fstuff commented on #200
It looks like this is actually happening because my constructor is causing an exception to be thrown.  This block of code in Converters.java seems to catch any underlying errors and simply proceed:

[code]

Other enums in the Converters class throw a different exception rather than skipping if they catch an exception.  I think the behavior should probably be carried over to here.

[2017-03-29 21:35] lviggiano commented on #200
It works this way by design. Try to implement a better strategy, and I'll
evaluate your solution.

L.

Il 29 mar 2017 10:51, "fstuff" <notifications@github.com> ha scritto:

It looks like this is actually happening because my constructor is causing
an exception to be thrown. This block of code in Converters.java seems to
catch any underlying errors and simply proceed:

    CLASS_WITH_STRING_CONSTR

[2017-03-30 06:00] fstuff commented on #200
Thank you for your reply.  I am somewhat new to the Owner library, and I suspected there was a reason for the current behavior.  I just don't like that the current behavior essentially ignores the exceptions that are thrown in the scenario I described above.  I see that there are some exceptions thrown by the java.lang.reflect.Constructor class.  I will think about the issue more and submit a fix

[2017-03-30 07:56] lviggiano commented on #200
Hi.

I can't let errors like numberformatexception, nullpointerexception etc.
come out from interface methods. This would be a bigger source of confusion
and side effects. Plus, the chain of attempts to do conversion is designed
to try different strategies when exceptions happen.

Regards.
L.

Il 30 mar 2017 08:00, "fstuff" <notifications@github.com> ha scritto:

[2017-03-30 09:14] fstuff commented on #200
Yes, I see that certain exceptions are not necessarily fatal when you have so many conversion strategies to try.  I am still concerned that the behavior can mask exceptions outside of the library that should not simply be skipped.

According to the [documentation](https://docs.oracle.com/javase/8/docs/api/java/lang/reflect/Constructor.html#newInstance-java.lang.Object...-), the Constructor method

[2017-03-30 09:38] lviggiano commented on #200
Il 30 mar 2017 11:14 AM, "fstuff" <notifications@github.com> ha scritto:

This would be a bigger source of confusion
and side effects. Plus, the chain of attempts to do conversion is designed
to try different strategies when exceptions happen.

Yes, I see that certain exceptions are not necessarily fatal when you have
so many conversion strategies to try. I am still concerned that the
behavior can

[2017-04-06 16:57] StFS commented on #198
@lviggiano I see you've been active in responding to issues here recently, I'd really love to get your input on this. The main question I have for you is is there any way to avoid calling `entrySet()` on all Properties classes in OWNER?

[2017-04-06 18:00] StFS commented on #181
After investigating, there is no way to create an Annotation that support multiple different types for its value. The only option here would be to create different annotations, one for each type (such as `@DefaultValue("foo"), @DefaultValueInt(1)` but this is ugly and complicates everything.

Therefore I'm closing this issue.

[2017-04-06 18:00] #181 closed

[2017-04-06 18:36] StFS commented on #184
This was fixed with the following PRs:

https://github.com/lviggiano/owner/pull/185
https://github.com/lviggiano/owner/pull/196

[2017-04-06 18:36] #184 closed

[2017-04-11 21:07] r3dlin3 opened #201 "Validation of a config with JSR 303/349"
Hi,
Not an issue but, just to let you know, I have performed some test regarding the validation of a configuration. It works as long as I respect the "getter" syntax. I did not find anything about that in the documentation.
Below a working example:
[code]
However, If my config is a follow, the validation does not work and does not trigger any violation constraint.
[code]

I have performed validati

[2017-04-12 09:29] lviggiano commented on #201
This looks pretty awesome.

the main jar contains no external dependency, so if you want to contribute this feature, you should implement in a separate module from the main one: for instance on the 3rd-party jar marking the dependencies as optional.

Also keep in mind that there are feature like "hot reload" that are impacted by this: for instance, what should happen when a hot reload doesn't vali

[2017-04-12 13:14] r3dlin3 commented on #201
I agree with you. The validation of the config bean can be done externally. The question is: do you want to keep it that way or to you something "integrated" that would trigger validation exception and all?
In the first case, I can create a module to demonstrate the "feature" and push a PR. The second case would require much more thoughts.

[2017-04-21 20:46] shawmanz32na opened #202 "How to mock using JMockit"
I want to mock my OWNER config class to return a specific property during a test to ensure that my class is using a configured value. In the OWNER docs (in the "Why OWNER?" section), it is claimed that it OWNER is easy to mock:

I have been unable to mock my OWNER configuration class using JMockit (see my week-old stackoverflow post - http://stackoverflow.com/q/43420861/1342760).

Can you provide

[2017-04-30 14:46] shakedel commented on #198
Can you give a pointer to the `Properties#keySet()` that gives you trouble

[2017-05-16 11:37] toboro opened #203 "ConcurrentModificationException on creating Config"
Hi,

first of all, this is a great api. We use it for about half a year and it is very handy :-) great work!

Now we get an Exception in a multithreaded environment. I analysed it, and found out, that it occurs when the system properties are modified, while a owner Config object is created:
[code]
I wrote a junit testcase to reproduce it. And I also found a Workaround for it, by use another System

[2017-05-16 12:00] lviggiano commented on #203
Wow. Great finding. I'll check it out. Thanks.
L.

[2017-06-17 10:02] richmidwinter commented on #203
Might be better off replacing the contents of that getProperties() method with a clone() call:

`public Properties getProperties() {
        return (Properties) System.getProperties().clone();
}`

[2017-06-19 18:57] jonn-smith opened #205 "New release to Maven?"
@lviggiano It looks like there have been quite a few updates since the last release to Maven.  Do you have any plans to put out another official release?

For some background, I'm at The Broad Institute and we're considering using OWNER as the config library for one of our projects - the [Genome Analysis Toolkit (GATK)](https://github.com/broadinstitute/gatk).  It looks really slick and seems to b

[2017-06-20 07:01] shakedel commented on #200
Perhaps a new exception (say `ConvertionException`) can wrap the thrown one and be thrown instead,  making `Converters#tryConvert()` throw `ConversionException`. Then it can be caught inside the loop in `Converters#doConvert()`, and accumulated (say in `LinkedList`). Then if we reach the end of the method then report an error with the accumulated exceptions.
The only issue with accumulating is tha

[2017-06-29 08:20] shariqislam786 opened #206 "Feature Required: DisableFeature.TOKENIZATION"
Hi,

I have written custom converter which converts json properties into objects specified in reloadable interface.

example:

public interface GaugesProps extends Reloadable{
    @ConverterClass(JsonConvertor.class)
    SomeObject object();
}

This works fine for all simple objects, maps etc. but for collections this breaks because owner tokenizes collections and pass the chunks to converter. res

[2017-06-29 10:01] lviggiano commented on #206
Hi.

At the moment there is no way to disable collection tokenization. well, actually a trick could be specifying a separator that is never used, such as `@Separator("\u0000")` or something like that; but in this case you would get a List of a single object.

What I would do instead is to create a container class such as:

[code]

And have your converter class returning a `JsonContainer<List<SomeO

[2017-06-29 10:29] lviggiano commented on #205
Hi.

I have some problems here:

* new pull requests are missing documentation and some of them are not fully tested, but they should be ok, since all previous tests are fine. So having new undocumented feature, is not useful from my point of view, since only few people would discover and use them.
* my health is not very good since some time and I have been away from coding since more than one ye

[2017-06-29 10:35] lviggiano commented on #203
👍

[2017-07-12 21:53] vince-gh commented on #32
I am starting to use it, it is very clean and very easy to understand, it is definitely better than some other Apachi Configuration API and the yaml file.   Good work!

[2017-07-13 15:22] jonn-smith commented on #205
Hi @lviggiano - sorry to hear that you've been ill.

If releasing to maven is an issue maybe my team can help get it ready and pushed out (I'm not sure we can commit to taking over the codebase, though).  Would that be helpful?

Thanks again.

[2017-07-26 17:46] jonn-smith commented on #117
I would also find this feature useful.

One additional possibility is adding a method to the Accessible interface (similar to the list method) to print out the properties (with their pedigrees in a comment above them).

[2017-08-01 12:18] Doogiemuc commented on #123
This still seems to be a problem on windows:

[code]

Error message:
[code]

The backslashes in the extended ~ seem to be the problem

[2017-08-01 12:20] Doogiemuc commented on #123
Just to confirm:   I stumbled over this same issue on windows.   Using the **latest** version 1.0.9  solves it.

[2017-08-01 14:47] Doogiemuc commented on #74
I second the notion that command line options should be part of this lib.
In both forms:  pass a file to read as command line parameter
or parse single command line parameteres (in long or short form) that overwrite everything else.

[2017-08-03 12:16] Doogiemuc opened #207 "How to iterate over all config keys"
How can I iterate over all config keys and values?

[2017-08-03 18:25] aaronkavlie-wf commented on #86
Could really use this; `toString()` / `list(System.out)` do not align with your config interface, and if you include system properties and environment variables it leads to a *lot* of noise.

[2017-08-04 12:49] Doogiemuc commented on #207
That method is not documented on that page or anywhere else except the source code :-)   But thank you for the hint. That works.  => SOLVED.

[2017-08-04 12:50] #207 closed

[2017-08-04 12:53] Doogiemuc opened #208 "Throw NullPointerException at parsing"
Owner is really a great library.  But it has some issues:

- It really should natively support overwriting configuration properties via command line. This has already been requested and discussed in other thread. Meanwhile I managed to combine Owner with apache-commons-cli, which works. But again: Owner should support this natively. IDeally Owner should provide a CommandLineArgumentSource that can

[2017-08-04 15:32] lviggiano commented on #208
Hi.

It is possible to overwrite properties through system properties, that can be specified at the command line
http://owner.aeonbits.org/docs/importing-properties/

Validation at creation time is more complex that can appear at first sight, since there is also hot reload. It was planned to be implemented, but I would like to make a good implementation. At the moment I'm not actively developing o

[2017-08-04 15:49] lviggiano commented on #208
Check if your problem can be solved by specifying a @DefaultValue

[2017-08-04 22:07] krevelen commented on #207
Well, it is not easy to find I agree, but apart from the source code the [documentation](http://owner.aeonbits.org/docs/accessible-mutable/) also points to the [Accessible](http://owner.newinstance.it/latest/apidocs/org/aeonbits/owner/Accessible.html) API docs, which in turn lists the [#propertyNames()](http://owner.newinstance.it/latest/apidocs/org/aeonbits/owner/Accessible.html#propertyNames--)

[2017-08-17 16:32] marcuskaufmann opened #209 "Question: How to parse maps of objects"
Hi,

I have an property structure where a part of the property key is used to aggregate properties to one object. That key is user defined and could be any string as long the resulting property key is valid. In the example below there are two objects defined by the keys "Chrome_1024x768" and "Chrome_1500x1000". The properties  of these object (name, browser and browserResolution) are defined and n

[2017-09-05 14:52] Doogiemuc commented on #74
Just as an updated:  I implemented this by using apache-commons-cli library together with owner.  It works quite well

In your `main()` method:

    Options opts = new Options();
    opts.addOption("u", "usage", false, "Show this usage information");
    opts.addOption("h", "help", false, "Show help");
    opts.addOption("v", "version", false, "Prints the version information and exit");

    //---

[2017-09-05 15:17] lviggiano commented on #74
Thanks, but I think a library should NOT interfere with user interface (as command line), unless the user wants to. Also, 3rd part libraries dependencies are not welcome without a very good reason.

[2017-09-05 15:19] lviggiano commented on #74
In fact, there is no OWNER real usage in your code: this is not what owner does or it is supposed to do.

[2017-09-16 17:28] jeugene opened #210 "Properties expansion NullPointerException"
Thanks for this nice framework. It works for most of our use cases besides below error.

I have similar pattern use case like below expansion. I need to override env(), name() and example() at runtime. When I override name() OR example() at runtime, the values start throwing NullPointerException in values. Interesting part is Unit Test works but at  runtime it starts failing with NullPointerExcept

[2017-09-21 16:31] hoterran commented on #203
@lviggiano this is confused bug for a long time。 can release new version after fix it ?

[2017-11-02 16:48] gualican opened #211 "Accessing properties file on an unreachable host returns default values, doesn't raise exceptions"
While trying to replicate a network/infrastructure problem, i've come across this behaviour: trying to access a property on a remote file server (e.g. a SMB/CIFS share) that is unreachable or doesn't exist (host is down or DNS name does not resolve to a valid IP address), properties for which a default value is set are returned, while null is returned for every other.

Is this intentional? If so,

[2017-11-07 11:20] lviggiano commented on #211
Hi @gualican,

First of all, thanks for using OWNER.

The intended behaviour in OWNER is that, if one configuration file disappears (it gets deleted, or the connection is lost with the remote drive) the configuration is reloaded as if that file is missing: so other configuration files apply (see [loading strategies](http://owner.aeonbits.org/docs/loading-strategies/)) or default values are returne

[2017-11-07 11:29] lviggiano commented on #211
There are also a couple of tests that verify the behaviour of OWNER when the configuration file becomes unavailable (in the test case, they get deleted)

See:

https://github.com/lviggiano/owner/blob/master/owner/src/test/java/org/aeonbits/owner/reload/AsyncAutoReloadTest.java

https://github.com/lviggiano/owner/blob/master/owner/src/test/java/org/aeonbits/owner/reload/SyncAutoReloadTest.java

So,

[2017-11-07 20:36] gualican commented on #211
Thank you for your feedback.
I agree with you, keeping the network share as a mirror and periodically pulling properties files locally seems to be a better solution.
I think this approach is particularly well suited for CI/CD so that the process of pulling and placing properties files may be OS agnostic as opposed to rely on OS-specific software like cron and its counterparts.
Since you've cleared

[2017-11-07 21:46] #211 closed

[2017-11-07 21:48] lviggiano commented on #211
On side effect of this, is that you can use OWNER to check if a network drive is reachable 😁

[2017-11-07 22:28] gualican commented on #211
Given how much time I have to wait for the operations team to add the Icinga checks I ask I might even consider using Owner instead :D

[2017-11-12 03:13] kant111 opened #212 "Is there any support for yaml & toml ?"
Is there any support for yaml & toml file formats?

[2017-11-12 03:35] lviggiano commented on #212
Luigi:
Hi.

No. The internal structure of owner objects is kept as a java.util.Properties. So, mapping a json object, for instance, is possible with some limitation. I'm not very familiar with yaml o toml, but I think that if you can map yaml/toml/json/xml/anything to a Java Properties, then you just need to implement a Loader (see javadocs). Json itself is an object tree or graph, and same can be

[2017-11-20 15:45] ploef opened #213 "Using HotReload with Apache Camel"
Hi,

Does anybody have an idea how to reload Apache Camel properties using a ReloadListener?
At the moment I recreate the propertiescomponent and filling it with the reloadEvent.getNewProperties(). But unfortunately this is not working.

Kind regards,
Peter

[2017-11-21 12:31] ploef opened #214 "The DecryptorManagerClass annotation seems not to exist"
Hi,

I'm using version 1.0.9 of this great library but the annotation "DecryptorManagerClass" doesn't seem to exist. Is that correct?

Kind regards,
Peter

[2017-11-21 18:59] lviggiano commented on #213
ReloadListener notifies you when a reload is performed.
Hot reload is implemented for filesystem and system properties. If you implemented a CamelLoader, at the moment the only way is to trigger the reload() programmatically (your configuration interface must implement `Reloadable`). So, for instance you can create a thread that reloads the configuration every period of time.
It is possible for to

[2017-12-04 18:09] guadaran opened #215 "Missing Javadoc?"
Hi,

I think that the [Javadoc](http://owner.newinstance.it/latest/apidocs/index.html) is missing on the project website.

Thank you.

[2017-12-05 12:45] alexander-poulikakos opened #217 "@Mandatory vs. validation mechanism"
If the validation mechanism is not coming, perhaps a light weight `@Mandatory` feature is better than nothing?

See pull request: #216

/Alex

[2017-12-09 18:31] lviggiano commented on #215
Hi.

Recently I've had problem with the host of my website/blog, so I transferred the site domain to a new maintainer and I've not set up things yet.

Javadocs are shipped in the release zips and are also available as jar in maven central repositories.

Sorry for the inconvenience.

[2017-12-22 13:20] ploef opened #218 "Accessible.getProperty is not returning the decrypted value"
Hi,

I have an interface "Settings" that extends Accessible. In it I have a property like:

  @Key("password")
    @EncryptedValue
    String password();

After using ConfigFactory.create I do have an object "Settings" that does return the decrypted value on Settings.password. But is I use Settings.getProperty("password") it returns the undecrypted value.

I do have to iterate all the properties a

[2017-12-29 00:27] adamday2 commented on #214
Are there any plans to create a new maven build with the current changes that exist on develop?

[2018-01-02 13:44] lviggiano commented on #218
Accessible interface is meant to expose internal state. With the internal state, any high level logic is left to the user.

[2018-01-02 13:44] #218 closed

[2018-01-02 13:47] lviggiano commented on #210
If test works, I am pretty sure the problem is elsewhere. If I cannot reproduce, I cannot fix it.

[2018-01-02 13:47] #210 closed

[2018-01-02 13:48] lviggiano commented on #182
Java 5 will be dropped when Java 9 port will be introduced. it's about 90% complete on master.
Java 9 also includes some API checks against prior java versions, so this issue should have been removed.

[2018-01-02 13:48] #182 closed

[2018-01-02 13:49] lviggiano commented on #202
The codebase is full of Mockito examples. I don't know JMockit.

[2018-01-02 13:49] #202 closed

[2018-01-02 14:44] lviggiano commented on #214
There is no plan yet.

[2018-01-15 17:01] #215 closed

[2018-01-19 17:32] hexmind opened #220 "How I can use "Parametrized properties" with Parametrized property key?"
How I can use "Parametrized properties" with Parametrized property key?
Can I mix Variables expansion and Parametrized properties?
[code]
Here `param("x")` should return "y" for properties `param.x=y`

[2018-02-04 02:40] moonrumble commented on #205
Hi @lviggiano There have been some new features added to the Owner API since the last release. Do you have any plans to release a new version anytime soon?

[2018-02-12 05:46] KamBha opened #222 "Make object creation dependency injection friendly"
Problem: We use Guice to help wire up our dependencies. While the approach of creating a Converter (for example) from a default constructor or a method on a class is powerful, it would be nice to have Guice instantiate the object directly.

I imagine something that allows you register a class with the ConfigFactory that looks like this:-
[code]

DependencyAnnotations would be a new annotation whic

[2018-02-22 22:57] yuraku opened #223 "UTF-8 formatting is not properly working during the loading of property"
I'm getting in trouble with the loading of property with the special characters.
in the .properties file i have a key-value pair:
password.test=**blablah_^%x05f**

After the load, i'm getting the string value **blabla_^null05f**

Any reasons why I'm getting this value, or any workarounds for this case?
Thanks in advance

[2018-02-22 23:21] lviggiano commented on #223
add `@DisableFeature({VARIABLE_EXPANSION, PARAMETER_FORMATTING})` to the method or the class.

[2018-02-22 23:21] #223 closed

[2018-02-22 23:23] lviggiano commented on #223
http://owner.aeonbits.org/docs/disabling-features/

[2018-02-22 23:36] yuraku commented on #223
Now it works for me with `@DisableFeature({PARAMETER_FORMATTING})` . Thanks

[2018-03-01 13:57] lviggiano commented on #184
I released today, I think that some documentation for this feature may help users. 👍

[2018-03-01 14:48] lviggiano commented on #205
Sorry for the long wait.

Yesterday I managed to review the Maven releasing process, which was quite messy before, and today I wrote the v1.0.10 release notes here http://owner.aeonbits.org/news/2018/03/01/owner-1-0-10-released

Thanks for the patience.

[2018-03-01 14:48] #205 closed

[2018-03-01 15:29] moonrumble commented on #205
Thank You.

[2018-03-01 15:29] jonn-smith commented on #205
Great!

Thanks a lot!

[2018-03-01 15:30] lviggiano commented on #205
It was a long wait :) sorry guys

[2018-03-01 17:20] StFS commented on #184
great to hear! Can you refresh my memory... I've added a small clause about this in the documentation but I'm trying to generate the website but `mvn site` only seems to generate some maven stuff. How do I generate the documentation website locally so I can verify that everything is looking okay?

[2018-03-01 17:58] StFS commented on #184
nevermind... figured it out.

[2018-03-02 12:17] lviggiano commented on #222
Hi.

I don't use guice so I don't know how to integrate it. Also I don't want to introduce external dependencies in OWNER; there is a sub-project called owner-extras that can accept that if you want to contribute your integration code for guice, I will consider merging it.

I have notice of people using owner with spring and guice, and I did it before for spring-ioc, I had no issue with that.

If

[2018-03-02 21:21] KamBha commented on #222
Sorry, I wasn’t clear. I agree that we should not make any injection library a dependency in OWNER. The above was more an example of our problem. The solution I had in mind was instead to provide a framework for integrating such frameworks easily.

Basically, from what I can tell, owner has a number of places where it creates objects (eg tokenisers and converters). And a number of strategies to do

[2018-03-16 11:51] lviggiano commented on #222
What would be the benefits and tradeoffs?

[2018-03-16 11:57] lviggiano commented on #220
Keys are not affected by these features. What you are suggesting is interesting by the way, but it is not implemented. Do you actually need it?

Actually if I were to implement owner 2.x I would switch off parametrized properties.
I actually think that parametrized properties is causing more issues than benefits, and maybe should be left off from the features for future design, maybe allowing the

[2018-03-16 12:00] lviggiano commented on #214
This shuold be released now in v. 1.0.10, let me know (reopen) if you have issue or write me on Telegram https://t.me/ownerapi

[2018-03-16 12:00] #214 closed

[2018-03-17 01:49] KamBha commented on #222
The use case I am thinking of right now is that we use Guice for our DI
environment. We also store some JSON in a configuration DB and use Jackson
to deserialise this JSON. The JSON is configured via  What would be nice is
if we could use Owner to pull this data out of the DB, and use the Jackson
ObjectMapper configured by Guice.

Another good usecase would be encryption and decryption which maybe

[2018-04-03 09:26] s17t commented on #116
Is this feature available ?

[2018-04-03 11:53] lviggiano commented on #116
@s17t Not yet.

[2018-04-04 01:44] jerryliu306 opened #225 "can use wildcard?"
in Sources annotation, can i use wildcard? eg: @Sources({"classpath:*.properties"}), so, it's become easy!!!!!! thank you!

[2018-04-04 04:56] lviggiano commented on #225
@jerryliu306 At the moment it is not possible and I have no plans for this feature. It also involves a lot of aspects you need to think before implementing this. For example, what if same property is declared in several files? Who wins? What about hot reloading? Adding or removing files what behavior should have? Also it can expose to security issues. Definitely not a priority for me.

[2018-04-04 05:49] jerryliu306 commented on #225
Thanks! That before, I used TypeSafe library and have itself load strategy, it has support wildcard. For example, If i have 50 properties files, Can i should define 50 config interface or input 50 properties file name as params for Sources annotation? Obviously, it's not conveniently.

[2018-04-04 05:50] lviggiano commented on #225
@jerryliu306 Awesome, glad you solved.

[2018-04-09 20:46] jonn-smith opened #226 "Empty system variables for file paths in @Sources cause URISyntaxException failures"
When using a variable in the `@Sources` annotation for a file path, if that variable is empty / undefined a `URISyntaxException` is thrown.

This is because of the resulting call to the `URI` constructor:

`new URI("file:")`

However, this produces an empty, non-null URI and is equivalent:

`new URI("")`

The logic in `ConfigURIFactory::newURI` should be updated to allow for this case.

==========

[2018-05-08 22:05] iorlov2 opened #228 "Required property"
Can we have annotation which maps to a property considered as a required property? In other words, this property must be initialized, otherwise we should throw an exception.

[2018-05-15 15:34] ysmartin opened #229 "Documentation inconsistency about cyphering"
According to the documentation, OWNER provides (experimental) [support to crypto features](http://owner.aeonbits.org/docs/crypto/).
However, [one of the FAQs reads](http://owner.aeonbits.org/docs/faq/#how-about-the-security-of-storing-password-in-properties-does-owner-support-encryptable-properties-like-in-jasypt-):

Encrypted properties are in the list of goals for the next versions (See #49).

T

[2018-05-15 16:52] ysmartin opened #230 "Expanded property keys are not reported by Accessible methods"
If I try to use the expansion method
E.g. if I define

[code]
And elsewhere I try to load the config and use the Accessible methods
[code]
They I get duplicate properties, ones with the values loaded from the external files and other with the default values, but without any expansion applied to the keys:

etc.
Nonetheless, when using the config interface methods, it returns the appropriate values:

[2018-05-15 18:35] ysmartin opened #231 "Undocumented system: pseudo-url"
https://github.com/lviggiano/owner/blob/d56ad12b63657848b0dd4aa1ea1b0dced4d96582/owner/src/main/java/org/aeonbits/owner/loaders/SystemLoader.java#L18
The system:properties and system:env are not documented in the main manual. Indeed, the manual recommends that the API client manually request the `ConfigFactory` to import the properties (which is much less reliable solution, as it yields the respon

[2018-05-23 16:14] alexanderm2018 opened #232 "Env properties not set when creating them via ConfigCache.getOrCreate"
I have these two properties

    @DefaultValue("${java.home}")
    String javaHome();

    @DefaultValue("${TARGET_ENV}")
    String env();
if I use ConfigFactory.create I can access them
cfg = ConfigFactory.create(RestApiConfig.class, System.getProperties(), System.getenv());
cfg.env() returns value as expected

if I use ConfigCache.getOrCreate, I get empty string.
cfg = ConfigCache.getOrCreate(R

[2018-05-23 17:28] lviggiano commented on #232
@alexanderm2018 Can you create a unit test for this bug? (pull request)

[2018-05-23 17:55] alexanderm2018 commented on #232
where in our repo?

[2018-06-05 06:54] mariotrucco opened #235 "StackOverflowError if property is missing"
Teh following code:

`AppConfig appConfig = ConfigFactory.create(AppConfig.class);
		System.out.println(appConfig.myTestProperty());`

Throws a StackOverflow error when `AppConfig.java` is this:

`@Sources({ "classpath:app.properties" })
public interface AppConfig extends Config {
	@Key("my.test.property")
	public String myTestProperty();
}`

And `my.test.property` is not present in the file  `app

[2018-06-05 08:22] lviggiano commented on #235
@mariotrucco When a property is missing the software returns null. You probably created a loop in the string substitution. If you can contribute a test case I can analyze it further.

[2018-06-05 10:02] mariotrucco commented on #235
Thanks @lviggiano, i will add a test case and, if the problem is reproduced, I will send a PR including it. If the problem is on my side, I will close the issue.
Is this the right course of action?

[2018-06-05 10:05] lviggiano commented on #235
@mariotrucco Yes. From the stacktrace it seems that a regexp loop happened. So I think that something more complex happened.

[2018-06-05 13:37] mariotrucco commented on #235
@lviggiano I found the stack overwflow error being caused by this in the properties file:

`my.test.property = ${my.test.property}`

In our case the right side variable was supposed to be replaced with a value via maven filtering,  but we forgot to specify the value in the maven filter.

It should be quite an uncommon case: please let me know if you are interested in further investigation or if I

[2018-06-05 14:10] lviggiano commented on #235
@mariotrucco Thanks. I was sure there was some kind of loop in the string replacement. I think its not a bug, the string replacement become recoursive in this case, and the stack overflow is common in such cases.

[2018-06-05 14:11] #235 closed

[2018-06-11 18:52] 2step opened #236 "Bug: Property values that contain the '%' character throw exceptions"
I have a standard properties file.  One of the property values is _'!@#$%^&*()"_  The PropertiesInvocationHandler::format method throws an exception when it tries to process this value.  The PropertiesInvocationHandler::format method calls String.format(...) but assumes the property value is a format String.

[2018-06-11 18:59] 2step commented on #236
In my environment, I changed the PropertiesInvocationHandler::format method to this:

    private String format(Method method, String format, Object... args) {
        if (isFeatureDisabled(method, PARAMETER_FORMATTING))

        // If there are no arguments to format, we can just return.
        // This is also helpful when the {@code format} is a property value
        // such as '@#$%^&*()" (e.

[2018-06-11 20:28] moonrumble opened #237 "addPropertyChangeListener methods should be available via Reloadable interface as well."
addPropertyChangeListener method should be available via Reloadable interface as well. During the reload, PropertyChangeListener is being fired as well.

[2018-06-11 20:57] moonrumble opened #238 "HotReload with system:properties as source will always reload properties."
Java allows system properties to be changed programmatically. In practice, most people don't change the system property once defined.

is it possible to not reload every time when system: properties is used as one of the sources or make it configurable?

[2018-06-27 19:48] lcodes commented on #53
Cleaning up old issues

[2018-06-27 19:48] #53 closed

[2018-07-02 11:44] rwanderc commented on #238
@moonrumble, you can achieve it by passing a `Map<>` parameter that will not change it's memory address, and `System.getenv()` does it since it's backed by an immutable map. About `System.getProperties()`, you can not ensure since it is anyway backed by a non-final attribute.
But you can anyway encapsulate it in another class that will always produce the same variable address and maintain this str

[2018-07-04 09:58] ansonliao opened #240 "[Question] Owner configuration library whether support the config file that similar to JSon format?"
Hi,
Thanks for your hard work for providing this excellent configuration library, I am very enjoying using the library in my Java projects.

Now I have a question about the library that whether support the configuration file format similar JSon, which supported by [TypeSafe Config](https://github.com/lightbend/config).
As QA development engineer, in my current projects, I am have huge config file

[2018-07-17 01:07] Cyw1104 commented on #232
`cfg.evn() `  method name is wrong??

[2018-10-23 20:20] hugo4715 opened #242 "Broken link"
Hello,
In the page http://owner.aeonbits.org/docs/faq/ there is a broken link when clicking on "I use it"

[2018-11-13 06:55] mseele opened #243 "Exception with jdk-11.0.1+13-openj9"
Hi,
we get an exception when we use owner with openjdk11 and openj9 (https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=openj9):

[code]

Here is a snippet to reproduce the error:

[code]
...and here is the maven dependencies to run this code:
[code]

It work's well with openjdk-11 hotspot (https://adoptopenjdk.net/?variant=openjdk11&jvmVariant=hotspot) and java 8.

[2018-11-13 13:19] lviggiano commented on #243
@mseele Hi.

I think that the problem might be with the VideoConfiguration class declaration. Can you include in the bug the class declaration and the method screenSize() declaration?

[2018-11-13 13:41] mseele commented on #243
It's this class:

https://github.com/SergeyPirogov/video-recorder-java/blob/master/core/src/main/java/com/automation/remarks/video/recorder/VideoConfiguration.java

I've added a bug in the video-recorder-java project as well: https://github.com/SergeyPirogov/video-recorder-java/issues/55

[2018-11-13 16:34] lviggiano commented on #243
@mseele That looks fine to me.

I need to check if there is some open bug on calling default methods on interfaces with openj9.
The code that does the invokation is located in module owner-java8, class Java8SupportImpl. It may be also an issue in openj9.

[2018-11-15 19:01] Jan-Fryblik commented on #190
There is store(file, append); method in interface Accessible. I find this a bit confusing, at first I was looking for this method in Mutable. Anyway, the weak support for persisting changed values is from my point of view a big disadvantage of Owner.

I used Owner for simple app configuration. Task slightly changed later and I wanted to store values changed by user. The problem was to access file

[2018-12-11 15:02] tender2017 commented on #240
存储JSON格式的的config文件，我方案暂时只是使用mongodb来做，自己实现配置文件增删改查。如果您的项目能够能够增加json格式的config文件管理那真的是我们的福音。希望得到开发者的答复，祝好

[2018-12-14 20:48] savkk commented on #240
https://github.com/savkk/owner-json-ext

[2018-12-15 06:45] savkk commented on #240
You have to implement Loader interface. Also you can try to use my implementation, maybe it will do. https://github.com/savkk/owner-json-ext

[2018-12-19 08:45] PreXident commented on #65
Is there any new info about implementing this feature? I am considering using OWNER, but HOCON seems to be very flexible when defining the configuration.

[2018-12-19 09:44] lviggiano commented on #65
Hi.

There is no planning, since I am not actively working on OWNER since quite some time.
I started working for a software company now, and this is a good news since I started coding again since years I was off. But HOCON would be not in my top priority. If you know how to read a HOCON file and map it to a java.util.Properties, it should be easy to implement a custom loader. If you want you can t

[2018-12-31 03:44] ansonliao commented on #240
@tender2017
Library from typesafe [Config](https://github.com/lightbend/config) supports the config format by dot

[2018-12-31 03:45] ansonliao commented on #240
@savkk
Thanks @savkk , let me check your implementation

[2019-01-07 02:32] FDU-SE-LAB opened #244 "Your project lviggiano/owner is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-02-05 08:50] lviggiano commented on #243
@mseele Thanks.

[2019-02-05 09:44] #242 closed

[2019-02-05 09:46] lviggiano commented on #242
Hi.

It looks like they updated the openhub site and there is something wrong with their badges; anyway, i fixed it.

Thanks.
L.

[2019-02-05 09:48] lviggiano commented on #240
Hi.

I am planning to reimplement a new version of owner to support yaml and json.
At the moment, only basic support can be added using existing APIs.

I have no plan on when the new "owner" (it may have a new name) will be released (nor started).

The good news is that I am back to coding, after loooong time off.

Thanks for your patience guys!

L.

[2019-02-05 11:05] lviggiano commented on #238
Hi @moonrumble

I think the best solution is the one specified by @rwanderc : just pass a copy of the system properties instead of using them directly should solve.

I'll double check inside the code anyway.

[2019-02-05 11:07] lviggiano commented on #237
Not everything that is Reloadable is also programmatically changeable.

I don't think these two concept should be joined.

[2019-02-05 11:07] #237 closed

[2019-02-05 11:11] lviggiano commented on #236
Hi.

Please add `@DisableFeature({PARAMETER_FORMATTING})` as explained [here](http://owner.aeonbits.org/docs/disabling-features/).

You are right: the [parameter formatting](http://owner.aeonbits.org/docs/parametrized-properties/) is not a good feature and should be dropped, or at least be disabled by default since it generates more issues than benefits.

This was a "feature" which was very easy t

[2019-02-05 11:11] #236 closed

[2019-02-05 11:12] lviggiano commented on #232
anywhere you want: just add a test case where you think it's appropriate and send me a pull request; so that I can have a look.

[2019-02-05 11:13] lviggiano commented on #231
True. I need to update the documentation. Help is more than welcome :)

[2019-02-05 11:55] #226 closed

[2019-02-05 16:33] rwanderc commented on #232
@alexanderm2018, are you sure that's the first time the application instantiates the cfg? The behavior of `ConfigCache` is to keep the reference of the very first instance and return it whenever called again.    https://github.com/lviggiano/owner/blob/master/owner/src/main/java/org/aeonbits/owner/ConfigCache.java#L88

Just created some tests for that exemplification.

[2019-02-05 17:33] moonrumble commented on #237
I agree, but everytime reload happens there is a probablity of change. If I have a config which I want to reload automatically every 5 minutes, It is good to listen to a particular property change due to reload event.

[2019-02-12 20:11] ysmartin commented on #231
Pull request #247 added.

[2019-02-13 09:32] lviggiano commented on #203
resolved by pull request #241
will be released asap

[2019-02-13 09:32] #203 closed

[2019-02-13 09:34] lviggiano commented on #192
Issue resolved by pull req #193  (thanks)
Will be released asap.

[2019-02-13 09:34] #192 closed

[2019-02-25 08:18] PreXident commented on #206
Hi, are there any news about this? I have implemented a minimalist @CollectionConverterClass by myself and used class shadowing to plug it into Converters. I understand that adding something similar into the library is much more complicated that just adding a few lines of code as I did, but it would be nice to have an official support. Thanks for info & great library!

[2019-03-07 11:06] lviggiano commented on #206
Hi.

There are no plans, since I am working for a private company and I need to verify if they are fine with the open source contribution before legally compromising this project. On the other end, I developed this project by my own, in my spare time, because I needed it. Now I am not using it, since I am fixing bug with legacy code at work, not fun but that's life. I wish some company could spons

[2019-03-19 14:31] satan87 opened #250 "Trim value on table and string"
Hello,

I did some testing from a config file of mine and it seems i got 2 different behaviour.
If i use a List<String> then all the value are trimmed.
If i use a String, the value is not trimmed.

Is this correct ?
Is it suppose to be like this ?

Thanks,
Nicolas

[2019-03-19 14:34] satan87 opened #251 "Validation of values"
Hello,

Is there a way to validate the value from the config file ?
(like positive ? part of a range ? part of possible values ? etc .. )

If not, what would be the best way to do it ?

Thanks,
Nicolas

[2019-03-20 15:32] lviggiano commented on #251
OWNER supports events.

Listen for an event (property changed, or properties reload) then verify if the values match your requirements; if not, throw a RollbackException.

http://owner.aeonbits.org/docs/event-support/

OWNER project is looking for sponsors, if you or your company are interested in it, help is welcome.

[2019-03-20 15:34] #251 closed

[2019-03-20 15:35] lviggiano commented on #251
Declarative validation can be added; but since I am doing other work (on awful codebase), nobody is sponsoring the development on this project, and nobody is working on this.

[2019-03-20 15:41] lviggiano commented on #250
lists are tokenized, single values are not. if you need trimming on single value, you can specify a [`@PreprocessorClasses`](http://owner.aeonbits.org/apidocs/latest/org/aeonbits/owner/Config.PreprocessorClasses.html)

See: https://github.com/lviggiano/owner/blob/master/owner/src/test/java/org/aeonbits/owner/PreprocessorTest.java

[2019-03-20 15:41] #250 closed

[2019-03-20 15:43] lviggiano commented on #250
This project is looking for sponsors. If you or your company need help and/or custom development, please consider helping.

[2019-03-21 00:11] satan87 commented on #251
Thanks for the feedback. By contribution are talking more about money, or time to help ?

[2019-03-21 09:26] #238 closed

[2019-03-21 11:02] lviggiano commented on #232
cannot reproduce

[2019-03-21 11:02] #232 closed

[2019-03-21 11:05] lviggiano commented on #231
I'll check this asap, sorry for the delay.

[2019-03-21 11:07] #225 closed

[2019-03-21 11:10] #217 closed

[2019-03-21 11:11] #213 closed

[2019-03-21 11:11] #212 closed

[2019-03-21 11:12] #208 closed

[2019-03-21 11:16] #200 closed

[2019-03-21 11:17] #176 closed

[2019-03-21 11:18] #164 closed

[2019-03-21 11:30] lviggiano commented on #162
generated from what?

[2019-03-21 11:30] #162 closed

[2019-03-21 11:32] lviggiano commented on #162
you don't need to have a "respective interface" per property file. You can also define a single interface which loads the properties from multiple files.

[2019-03-21 11:34] lviggiano commented on #160
the reload listener (by design) has the ability to rollback the reload. For instance, you can use this to do some validation in the listener.

[2019-03-21 11:34] lviggiano commented on #160
@PumpMagic can you provide a unit test for this behavior?

[2019-03-21 17:15] lviggiano commented on #251
code contribution is welcome, as long as
- the quality of the code is on the same level of the rest of the project
- there are unit tests with near 100% code coverage
- changes/new features are documented

If some company uses owner and needs some cool feature that is missing, they can work by themselves and invest time and money, or hire an expert to implement that and make it into the official c

[2019-03-21 20:39] PumpMagic commented on #160
Hey @lviggiano , I'm sorry to say I can't. I no longer have access to the relevant codebase.

[2019-03-22 16:52] lviggiano commented on #160
@PumpMagic Sure, no worries, thank you.

[2019-04-11 20:15] glakshmeepathi opened #252 "Custom Loader (example : from a Database)"
The only way I know of is to do a `public class DBLoader implements Loader` and
[code]

[code]

There is no way to include a new Loader.
So I had to have the entire source.
Is there any way already available for such requirement ?

[2019-04-16 06:20] vijaydxc opened #253 "Dynamic key names in properties files."
I have multiple test environment property files(Ex. Dev, QA, UAT). Each property file has different properties(unique to each property file). Wondering how to use the aeonbits library config class to read the properties as a map rather than reading each property with (@Key) with a method name defined in the interface...

import org.aeonbits.owner.Config;
@Config.Sources({
"classpath:${env}.propert

[2019-04-16 10:02] lviggiano commented on #253
http://owner.aeonbits.org/docs/variables-expansion/#variable-expansion-for-the-key

[2019-04-16 10:02] #253 closed

[2019-04-16 10:08] lviggiano commented on #252
Sure [ConfigFactory.registerLoader(Loader)](http://owner.aeonbits.org/apidocs/latest/org/aeonbits/owner/ConfigFactory.html#registerLoader-org.aeonbits.owner.loaders.Loader-)

[2019-04-16 10:09] #252 closed

[2019-04-16 10:30] lviggiano commented on #253
Check also here: http://owner.aeonbits.org/docs/configuring/

[code]

Will load uat.properties from classpath.

[2019-04-16 10:33] glakshmeepathi commented on #252
My bad. Thank you. Let me check. Hope whatever loader is registered last has the highest priority ?

[2019-04-16 10:34] lviggiano commented on #252
@glakshmeepathi Yes, it should be like that.

[2019-04-16 12:46] lviggiano commented on #220
BTW, I think this feature can be very helpful.

[2019-04-16 12:50] lviggiano commented on #220
can leverage arrays and maps:
[code]

So, keeping this open.

[2019-04-17 07:15] vijaydxc commented on #253
Thank you @lviggiano
In the above example, the cfg object has all the properties as comma(,) separated String.
ex: {prop1=val1, prop2=val2}
Is there a way to convert the properties as map with any annotation?

[2019-04-17 13:25] lviggiano commented on #253
[Arrays and Collections](http://owner.aeonbits.org/docs/type-conversion/#arrays-and-collections)

[2019-04-19 05:49] vijaydxc commented on #253
Yes, thank you. I had a look at http://owner.aeonbits.org/docs/type-conversion/
But I think Map is currently not supported which is exactly what I am looking for.
My Requirement:
I want to define an interface with a method that returns a map of key-value pairs based on the config input parameter. The challenge for me is each property file will have different properties(Keys). Ex: Dev, QA, UAT. So,

[2019-06-25 15:02] RandyHBH commented on #34
Can we add this support?

[2019-09-02 12:55] raulcaj opened #254 "Thread contention on Converters.PROPERTY_EDITOR"
Hi!

There is a problem of thread contention on the PropertyEditorManager.findEditor. It loads classes from the ClassLoader switch is a thread blocking operation.

Is it possible to cache this method result so it wouldn't be called again or it would break this functionality somehow?

It would go something like this:
[code]

[2019-09-02 12:58] lviggiano commented on #254
@raulcaj The classloader does cache by itself, indeed. Try doing some benchmark to verify.

[2019-09-02 16:15] lviggiano commented on #254
how did you verify that there is thread contention? I've not looked yet into it, but I know for sure that the classloader does caching.

can you please elaborate your reasoning about this?

[2019-09-02 18:57] raulcaj commented on #254
@lviggiano [https://drive.google.com/file/d/1vn0nqQ0tJpNzwzHzryDJzVaMloEoEdj-/view?usp=sharing](url)
I had done a report for the company I work for. I'm sharing it with you.

[2019-09-02 19:17] raulcaj commented on #254
and I'd like to add the result of isClassAvailable method should also be cached.

[2019-09-02 19:57] lviggiano commented on #254
ok then, sounds fine. If you want to sent me a pull request I'll merge that.

[2019-09-02 20:01] raulcaj commented on #254
Great! I'll just finish running some more tests to see if I catch something else related to this and I'll create it.

[2019-09-02 20:03] lviggiano commented on #254
Thanks for the report; the improvement looks impressive.
I'll try to roll out a new version asap.

It's long time I'm not doing active development on this project, I need to cleanup two things, then I hope it won't take much time to release a new version on maven repository.

Today afternoon I was fighting with maven+intellij since I was not using my laptop at home for development.

[2019-09-02 21:13] lviggiano commented on #254
solved by #255

[2019-09-02 21:13] #254 closed

[2019-09-11 16:02] yashaka opened #257 "question: Is it possible to map properties by "ignore case" strategy?"
I want to be able to map properties from config file by ignoring case...
So whatever I write

Configuration.properties
[code]
or
[code]
willl be mapped to

[code]

is it possible?

[2019-09-17 15:32] lviggiano commented on #257
@yashaka I don't think it's possibile with current API. To do so, some properties key mapping should be implemented.

[2019-09-17 15:42] lviggiano commented on #257
@yashaka You could create a new Loader (check here: http://owner.aeonbits.org/apidocs/latest/org/aeonbits/owner/loaders/package-summary.html ) who turns all property keys to lowercase, then have your @Key annotation use the lowercase for each key. Otherwise, we need to implement some "mapping" interface. But I have no plans for it.

[2019-09-19 05:35] yashaka commented on #257
Thank you! Sounds like a good workaround:-)

вт, 17 вер. 2019, 18:42 користувач Luigi R. Viggiano <
notifications@github.com> пише:

[2019-09-29 13:42] #257 closed

[2019-10-21 06:38] rnc commented on #117
+1 for some form of configurable logging

[2019-10-29 10:42] mbrotz commented on #30
Hi. Is there any progress on validation? That would be a great feature!

[2019-10-29 13:57] lviggiano commented on #30
Nope. I am not working very much on this project; I am working for a private company and I don't have too much time left.

[2019-11-08 19:14] iaroslav-remez commented on #220
Hi @lviggiano
Have you had a chance to implement this feature?

[2019-11-08 19:21] lviggiano commented on #220
Not yet: not actively working on the project.
I should try to get help from other devs to maintain this project since I am not using OWNER at work and my spare time is very busy.

[2019-11-08 20:09] #231 closed

[2019-11-13 20:09] javydreamercsw opened #258 "UnknownFormatConversionException when string has '%' character"
In this case the string resolved to: atJ9GrtE%i

Here's the stack trace:

[code]

[2019-11-14 08:38] lviggiano commented on #258
Hi.

Adding `@DisableFeature({PARAMETER_FORMATTING})` on class level or method level should fix it.

This exception is the result of having parameter formatting, which is not a very useful feature, and I should set it disabled by default.

Hope this helps.
L

[2019-11-14 08:40] lviggiano commented on #258
I keep the bug open so I won't forget to disable this feature by default on next release.

No ETA for next release: unfortunately I don't have very much time to dedicate to this project.

[2019-11-28 17:50] beatngu13 opened #259 "How to globally set fully-qualified name"
First of all: thx for this cool project! 🙏

AFAIK Owner defaults to the unqualified method name, i.e.:

[code]

Can be used as:

[code]

Is there a way to globally let Owner use the fully-qualified name, i.e.:

[code]

[2019-12-04 10:50] lviggiano commented on #259
Hi.

The mapping used at the moment is very straightforward as you have noticed. The class who implements that is `PropertiesMapper.java`, and relies on `@Key` annotation then - if missing - on method name.

Would be definitely nice to have a feature to replace the default behavior with a different class; but it's not there; sorry.

Have a look at the class, maybe you can implement it by yourself,

[2020-03-09 11:41] beatngu13 commented on #259
OK, thx for pointing to `PropertiesMapper`. Will have a look at it.

[2020-03-14 16:54] nando2301 opened #260 "Using OWNER in a JSF Managed Bean without create OWNER Interface Porperties keys"
When I try to use Interface Class and I did not declare properties in that Interface, I can't recover it from JSF Managed Bean to use it in xhtml Page.

**AppConfig.java**
[code]
**AppConfigBean.java (JSF Managed Bean)**
[code]
****Part of xhtml page****
[code]
This returns and error saying: Create public method.
Then create it as:
[code]

Please add an add-on or procedure to create Interface Clas

[2020-03-20 17:28] claudiobosticco commented on #32
I just started using it ... really brilliant!

[2020-03-26 14:23] kimzeevaarders opened #263 "system:properties does not work in @Sources annotation"
Hi,
I am experiencing exceptions when trying to add functionality to also load properties from the system properties:

`@LoadPolicy(LoadType.MERGE)
@Sources({"system:properties",
		"file:${icPropertiesFile}"})`

When I try to start the application with this config, I get following exception:

`Caused by: java.lang.UnsupportedOperationException: Can't resolve a Loader for the URL system:properties.

[2020-03-26 20:48] lviggiano commented on #263
Hi.

Try upgrading to latest version 1.0.10

it should work.

Thanks.
L.

[2020-03-26 20:52] lviggiano commented on #230
Hi.

The expansion is resolved at run time, when you call the method. This is why you don't see it in properties lists.

I think it's not a wrong behavior: it dumps its internal structure, and to me it looks consistent as behavior.

Luigi.

[2020-03-26 20:54] lviggiano commented on #240
Actually, I am not dedicating time to this project. I know I should, since I like it and I used myself in the last project at my current job.

I cannot guarantee, since my life is quite changed since I had health problems, and my free time is dedicated to many things (including, recently, staying safe from pandemic coronavirus in Italy). So please be understanding.

[2020-03-26 22:45] kimzeevaarders commented on #263
Hi,

Thanks for the feedback. I thought I already upgraded to the latest version. I'll check and get back to you, thx!

Verzonden vanaf mijn Huawei-telefoon

-------- Oorspronkelijk bericht --------
Van: "Luigi R. Viggiano" <notifications@github.com>
Datum: do 26 mrt. 2020 21:48
Aan: lviggiano/owner <owner@noreply.github.com>
Cc: kimzeevaarders <kimzeevaarders@hotmail.com>, Author <author@noreply.

[2020-04-10 06:06] readilychen opened #264 "UnsupportedOperationException Can't convert '%s' to a valid URI"
we want to use multiple config files, and part of file can be optional.(as HCFusingConfig  below.) .
but we got an UnsupportedOperationException while not set property "fusing_path".

And I see code in PropertiesManager.toURIs() throws this UnsupportedOperationException.

but I think it will be better to NOT FORCE user set the "${fusing_path}".

@Config.Sources({
        "classpath:http_client.pro

[2020-04-22 00:12] regbo opened #266 "PropertyEditor - Concurrency Issues"
It looks like the PropertyEditor implementation in Converters is not thread safe. I believe the problem is in this code, and I think it should be synchronized.

[code]

The code below illustrates the issue. ( "IndexServiceConfiguration" and "Configs"  are custom but can be swapped out)

[code]

When propertyEditorDisabled is "false" the output is as follows. (note the 'in thread' messages):

[code

[2020-04-23 07:32] lviggiano commented on #266
👍
thanks for your investigation.

[2020-05-07 12:43] ledebroux opened #267 "Using the default property file in @Source mode + multiple keys"
Hello,

I want to specify several sources for a config (which honestly is super easy, that's great).
But I would like to be able to fall back on my dedicated .properties file.

Is there a way not to provide the whole path of the file ?

As an example, say I have `path/to/package/MyConfig.java` in my `src/main` and the corresponding `path/to/package/MyConfig.properties` in `src/resources`.
It works

[2020-06-06 18:18] Amerousful opened #268 "[Bug] Calling a value is not thread safe (return another value)"
I noticed that when calling values ​​from different threads, it can returns values ​​from other methods. The wrong method is invoked somehow. Bug reproduced on version **1.0.11**
I tried 1.0.8 - 1.0.10 and all ok.

src/test/resources/config.properties
[code]
***
[code]
***
[code]
***
I executed it 1000 times and here it stdout:
[code]
***

I can provide any necessary information for debugging.

[2020-06-06 19:35] lviggiano commented on #268
This is ugly. Thanks for the bug report.

I really need to take bake my hands on. this project.

[2020-06-06 19:43] lviggiano commented on #268
There are few patched added from 1.0.10 to 1.0.11, so what we can do is to repeat your test for every code change, and verify what is the patch that introduced the bug, then find the fix.
If you happen to find more, please let me know.
I'll try to get this fixed.

[2020-06-06 22:04] lviggiano commented on #268
it looks like the problem has been introduced by commit 18e26d07b1cb0e433a96900d164de6b47fd6abb3

[2020-06-06 22:10] lviggiano commented on #268
which in turn, is the merge of #255 #254

[2020-06-06 22:27] #268 closed

[2020-06-06 22:41] lviggiano commented on #266
You were right, the problem was exactly there. Issue introduced by commit 1acb314, in reference to #255 #254.

Duplicate of #268; fixed by 1f8905502cd5516912d12a39e71f4268bdfa8c06

It should be fixed now.

[2020-06-06 22:41] #266 closed

[2020-06-07 00:11] lviggiano commented on #266
I released 1.0.12, this should fix the issue. Let me know.

[2020-06-07 00:11] lviggiano commented on #268
I released 1.0.12, this should fix the issue. Let me know.

[2020-06-07 01:57] lviggiano commented on #268
thank you for the unit test, really appreciated you took the time to produce a test case to reproduce the issue. I wrote a [unit test](https://github.com/lviggiano/owner/blob/master/owner/src/test/java/org/aeonbits/owner/issues/Issue268.java) inspired to your code. So this issue hopefully will not show up again.

[2020-06-08 12:15] Amerousful commented on #268
I was very glad to help!
Thanks for the quick response and fix. I will wait new version.

I wanted to write the test by myself but you was faster than me :)

[2020-06-08 12:16] lviggiano commented on #268
@Amerousful It's already released. 1.0.12, try that out and let me know.

[2020-06-08 12:20] Amerousful commented on #268
@lviggiano Yes, it works fine! Thanks!

[2020-06-08 12:20] lviggiano commented on #268
@Amerousful Glad it helped. Thank you for your valuable time in helping.

[2020-07-09 19:35] lviggiano commented on #264
Please retest with latest version: this should be fixed in #227

[2020-07-09 19:35] #264 closed

[2020-07-09 20:01] lviggiano commented on #267
Hi.

There are several solutions to the above problem.

1. using variable expansion, as explained [here](http://owner.aeonbits.org/docs/configuring/):

[code]

2. I think you can also specify a relative path to `file:`: "file:./foo.config" or "file:foo.config" , in this way the file should be searched locally to current work dir. (please verify)
I don't remember if this gives an error when the fil

[2020-07-09 20:03] #263 closed

[2020-09-14 11:42] alexander-poulikakos opened #269 "How to get a single element list of strings containing `\n` ?"
How to get a single element list of Strings that contains `\n` from a configuration?

Example code:
[code]

Are there any workarounds that would make above code return a one element List, instead of an empty list?

[2020-10-07 20:55] mchenryc commented on #117
+1 for logging, and a vote for slf4j-api, which has adapters for  logging framework (or none).

There is a good response on SO to the question: [Is it worth wrapping a logging framework](https://stackoverflow.com/a/990591/80714) (e.g. as a set of events to be logged by consumers).

Also see slf4j's FAQ on the topic of making slf4j an [optional dependency](http://slf4j.org/faq.html#optional_depende

[2020-10-09 09:43] zldelgado commented on #147
In my case, the `SomeProperties` interface looks more like a `ManyProperties` interface, so to avoid creating boilerplate you can rely on [Project Lombok's `@Delegate`](https://projectlombok.org/features/Delegate.html) annotation.

[code]

The rest of the code is like @marx-freedom suggested.

[2020-11-25 10:37] h-arlt opened #271 "Property loaders should not load all properties but only mapped ones"
Owner seems to load all properties from a given source regardless whether these properties are mapped by appropriate interface or not.
Especially when using system properties or system environment as source, this behaviour causes a lot of head ache when trying to process the overall set of effective properties using the property traversing methods provided by `Accessible` interface.

Maybe, my use

[2020-11-25 10:39] h-arlt commented on #271
This might be somewhat related to #150.

[2020-11-25 12:15] lviggiano commented on #271
Hi.

This is the intended behavior.
The library takes the properties you give, then on method requests it retrieves what it is requested to get: everything is resolved at method request time, including variable expansion and other things.

If you want to filter out properties, you need to load the properties by your own, retain all the properties you need before passing to the library.

[2020-11-25 12:30] h-arlt commented on #271
Well, I do not want to filter out properties but I **have to** ;-)  Even worse, I do not know which properties I have to filter out as users may pass any properties to the JVM. All I need, is a set of properties mapped by given configuration. Of course, I can use reflection to retrieve the set of mapped property keys and forget about the rest.... but I'm wondering if this isn't something the libra

[2020-11-25 12:33] lviggiano commented on #271
Check out this example:

http://owner.aeonbits.org/docs/variables-expansion/

The only property "mapped" is "story", but all others are still used and needed.

I don't see how removing all other properties can be useful, when they can be needed at runtime to resolve others.

[2020-11-25 13:02] h-arlt commented on #271
The only statically mapped property is "story", yes. But by inspecting the value of this property and scanning for variable expressions, it's possible to compute all effectively mapped property keys - exactly what I need. As property values might change at runtime, the overall set of mapped property keys has to be re-computed and thus can only be seen as snapshot.

Regarding your point how useful

[2020-11-25 13:13] h-arlt commented on #271
Maybe my use-case is somewhat special as I do not expect the properties to change at runtime. My feature request might make more (or some, at least) sense when another feature, namely sealing of properties, is introduced and active.

[2020-11-25 14:06] lviggiano commented on #271
Hi.

I don't see any advantage in filtering out properties that might not be used (or might be). If you need that, you should filter them out before giving it to the library.

I'm not going to implement this for these reasons:
- I fail to see this as an improvement, and I see a lot of downsides, like understanding what is used and what is not at load time, given also the fact that in runtime that

[2020-11-25 14:30] h-arlt commented on #271
That's absolutely reasonable. I can use reflection to collect the information that I need. Just wanted to track it here in case others stumble across this.

Thanks for this great library!

[2020-11-25 14:30] lviggiano commented on #271
sure; no problem.

thanks for the nice words.

[2020-11-26 17:47] #271 closed

[2020-12-03 11:16] maltalex opened #272 "Bug: owner loads properties from either system:env or system:properties, but not both"
Loading from `system:properties` works fine, and so does `system:env`, but if you try to load from both, the second source isn't being loaded

Reproduction code:

	@Sources({ "system:properties" })
	interface Props extends Config {
		@Key("TEST_PROPS")
		String testProps();
	}

	@Sources({ "system:env" })
	interface Env extends Config {
		@Key("TEST_ENV")
		String testEnv();
	}

	@Sources({ "syste

[2020-12-03 11:21] maltalex commented on #272
Just realized that it's due to the loading strategy and can be fixed by using `@LoadPolicy(LoadType.MERGE)`.
My bad, closing.

[2020-12-03 11:21] #272 closed

[2020-12-03 11:22] lviggiano commented on #272
@maltalex Thank you. I'm glad you've sorted this out.

[2020-12-11 07:39] Gmugra commented on #222
I know, this is an old conversation, but it confusied me, because I don't see any problem with DI integration already.

e.g. example with [Dagger2](https://dagger.dev/) :

[code]
You can already implement an OWNER-loader that can load anything from any source (e.g. JSON from database). The loader is a simple java class, so you can easily integrate it with your DI framework to get the necessary obj

[2020-12-14 07:05] Gmugra commented on #267
FYI:
`file:./foo.config` is working just fine to get the file from the current working directory.

[2021-01-06 07:39] juan-chan opened #274 "Does this lib support profile ?"
My configurations are different in different environment, like dev1, dev2, testing, staging, etc. So I have to override my configs by environment variables many times. I think *profile* can solve my problem, but it seems this doesn't support, right? And if not, would you think about it?

[2021-01-06 08:16] Gmugra commented on #274
Something like profiles is posible to get using "Variables expansion":
http://owner.aeonbits.org/docs/variables-expansion/ look at "Variable expansion for the @Key" part

[2021-01-06 23:18] nando2301 commented on #267
Hi, sorry I'm from Mexico and English is not my primary language.

I will try to explain a problem that I have using Dropwizard (microservice), dropwizard generates a jar file and I need to change some properties in the fly (owner is good for this).

[code]

1. I have OWNER interface that works fine, this has my local path and dev server path into `@Sources`
[code]
2. When I try to deploy to test

[2021-01-07 05:43] juan-chan commented on #274
I just looked at the document, It seemed could solve my problem, thanks a lot :)

[2021-01-07 05:43] #274 closed

[2021-01-07 09:35] juan-chan opened #275 "Convert environment variables to properties support"
Generally, environment variables format are different from system properties format, for example: `FOO_BAR` in environment variable and `foo.bar` in property. My highest priority of load strategies is `system:env`, so if I want to override a property I have to define an environment exactly equals to the property, which means `foo.bar` in env and `foo.bar` in property.

Now I want to define the env

[2021-01-12 17:40] rajanv-aristo opened #276 "The annotation @Config.Key is disallowed for this location"
Why I am getting this error?

I have compiled the code with java 8, Java 15. But the error is still available.

I have added some key-values in properties file and save and compiled it, it worked at first time but when i add new properties to the same file and try to use **@Key** for the newly added property, eclipse is showing compilation error.

**@Key**("username")
String username;

**@Key**("p

[2021-01-15 06:12] #276 closed

[2021-02-07 14:09] strangelookingnerd opened #277 "Distinct between actual source of a merged property"
I have a Config that is stored in a file and can be overwritten by ENV
[code]

If I want to store the configuration like this
[code]

I end up with a config.properties with all system properties, which not desired
[code]

To work around that I tried to remove the system properties before storing to only end up with my testProperty
[code]

This workaround fails if the property is defined in both, E

[2021-02-12 10:42] Woodham opened #278 "System properties aren't actually checked for changes in reload logic"
Looking at this line: https://github.com/lviggiano/owner/blob/0f0bfac11139264c27820bbc9c030c7448d395b9/owner/src/main/java/org/aeonbits/owner/HotReloadLogic.java#L69

It looks like the intention was to check if the hash of all system properties had changed since the last check, but `newHash` is not actually updated and just uses the original cached version of the system properties.

I suspect it's

[2021-05-04 07:04] Gmugra commented on #275
There is no any general specified format for system properties or environment variables names. You can use whatever you want, from what is accepted by e.g. your OS. Yes, `java.lang.System` support set of "default" system properties in form "x.y.z" (e.g. *java.version*), but this is specific of this class, and not general & cross-platform rule.

So, I am personally, see this proposal as a very spec

[2021-05-04 07:26] Gmugra commented on #220
This proposal is strange form of `Map`. And it is is way better to add normal `Map` support.
e.g.:
[code]
[code]
Of course, adding support for `Map` would be much more difficult, but it is the much better way to go.

[2021-05-12 02:55] juan-chan commented on #275
@Gmugra OK, I got it. Thanks for your help, I'll try to implement my own loader. 🤔

[2021-05-12 02:55] #275 closed

[2021-05-17 15:20] sskorol commented on #275
My 50 cents: I haven't ever seen anyone used env variables in a format other than uppercase separated with underscores. Moreover, I haven't seen any tools which use the other format for their env vars. Even Google suggests using this format in their [style guide](https://google.github.io/styleguide/shellguide.html#s7.3-constants-and-environment-variable-names). That's why I was very surprised and

[2021-05-18 06:27] Gmugra commented on #275
@sskorol
I'm not quite sure what you mean by that.
e.g. this is working just fine:
[code]
*OWNER* has no problem reading env variables with any name.
The problem @juan-chan encountered is about an exotic merging strategy between *system:env* and *system:properties*

FYI:
Unfortunately, OWNER is not really supported anymore.
@lviggiano multiple times wrote that he has no time for the project anymor

[2021-05-25 07:13] maltalex opened #281 "Multiple keys"
Hi @lviggiano

Thank you for your work on owner.

I have a situation in which a program needs to be able to run in two different environments, with one of the environments prefixing all of its environment variables with a prefix (e.g. `FOO_`). I'd like to be able to use the same owner file in both environments, but I don't see a straightforward way of doing that since it looks like `PropertiesMapp

[2021-05-26 07:24] Gmugra commented on #281
I think you can solve it with *Variables expansion*.
FYI: http://owner.aeonbits.org/docs/variables-expansion/
look at **Variable expansion for the @Key** part of documentation

[2021-05-27 08:41] maltalex commented on #281
@Gmugra
That's an interesting option, thanks.

[2021-05-27 18:18] Gmugra commented on #281
If it helps to solve you problem, please close the issue.

[2021-07-15 02:00] peterwkc85 opened #282 "Owner Properties File Location"
I put my config.properties file in src/test/resources/config.properties at intellij IDE.

When i initiaze this code

`@Config.Sources({"classpath:config.properties"})
public interface PropertiesManager extends Config {`

It cannot be found the file but the file is located at target/test-classes/config.properties. It just cannot find the file.

How to declare properly. Thanks. Please help.

[2021-07-15 02:02] lviggiano commented on #282
@peterwkc85 Read the docs, check the examples.

[2021-08-12 08:26] suankan opened #283 "Unable to ThreadLocal ConfigCache.getOrCreate()"
owner version: 1.0.12

# Use case

## I have a scenario where:

- I first create my config in the Owner supported way:
[code]
- But later at runtime I need to replace existing properties with new values.

So that when I'm running multi-thread,
I start with the same set of properties,
And each thread replaces properties at their own pace.

Roughly speaking I need to maintain an isolated instance of

[2021-08-12 20:32] suankan commented on #283
Looks like I'm confusing the concept of thread safety and singleton here. Perhaps `ConfigCache.getOrCreate()` is designed exactly to be accessible across multiple threads just in a thread safe manner.
Ultimately I did not encounter any kind of deadlocks during my testing so this issue is I guess irrelevant.

My goal was to actually use thread-isolated configurations which looks like I can do with

[2021-09-22 19:24] joshualibrarian commented on #53
I know this is a very old and closed thread, but I really wish your library did support yaml files, even with nice POJO binding, could be driven by Jackson, and as I find myself about to have to do it myself without all your nice bells and whistles, I wonder did that redesign ever happen?  Prolly not, but just sayin'.  ;)

[2021-12-14 10:57] qand90 opened #285 "Accessible.fill() does not decrypt @EncryptedValue properties"
Hello Team.

Some of tools uses java.Properties as an input for init()

I am using OWNER for managing properties and password are kept encrypted.
Before push Properties to the init methods I am doing (Accessible)configs.fill(props)  but it pushes them as is in properties file.
I would expect it will be decrypted.

Workaround:
Make
props.replace("prop.name",configs.propName());
before push props to

[2022-01-03 09:05] skanga opened #286 "Initializing maps"
Is there a simple way to initialize Map's using name/value pairs in the config file?

[2022-01-19 13:44] Gmugra commented on #286
Owner do not support Maps: https://github.com/matteobaccan/owner/issues/41
Only what you, may be, can do is writing you own converter for `@ConverterClass`

[2022-02-09 11:38] mrunalgosar-tripactions opened #287 "Converter / Decryptor is not being called when property value is referenced in another property"
Issue Summary: Converter / Decryptor is not being called when property value is referenced in another property.
Description: Suppose a user refers to a key in another key, then we would expect the source key's converted value to be available in target key instead of original value.
Refer sample test below:

[code]

[code]

[code]

[2022-02-15 08:52] bingSea opened #288 "Get wrong value which contains '%'"
//db.properties
[code]
//DbConfig.java
[code]
//Demo.java
[code]

this demo output : `adc^9SonullTXP`, not equals to `adc^9So%oTXP`

[2022-03-06 12:59] pgrt opened #290 "Tests about Reloading failing seemingly randomly"
Hello,

I have started packaging owner into Debian GNU/Linux. While doing so, I met an issue with the tests
    testReloadWorksWhenURLContainsVariablesToExpand
and
    testAutoReloadFromClasspath
which succeeded during many builds, then suddenly began repetitively failing, with the messages

`[ERROR] Tests run: 4, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.026 s <<< FAILURE! - in org.aeon

[2022-04-19 09:08] dhamo-pk opened #291 "Fix Vulnerable JUnit - Upgrade JUnit version"
As per [Maven](https://mvnrepository.com/artifact/org.aeonbits.owner/owner/1.0.12), the following version has a vulnerability. So upgrading JUnit is a mandatory now.

![image](https://user-images.githubusercontent.com/44419390/163970039-174e9989-2ff1-4d96-854e-70c4ac43c0fb.png)

Will you accept PR for the same?

[2022-04-20 14:23] renovate[bot] opened #294 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.jacoco:jacoco-maven-plugin to v0.8.8
 - [ ] Update dependency org.slf4j:slf4j-nop to v1.7.36
 - [ ] Update dependen

[2022-06-02 09:03] alexander-poulikakos commented on #199
I would also like to see variable expansion when calling `Accessible.getPropert`.

[2022-06-09 20:11] ZaziroZ opened #317 "System property is @Sources - how to provide a default value?"
Looks like it is not supported:

`@Sources("classpath:org/aeonbits/owner/variableexpansion/${env:-develop}.xml")`

Here `develop` would be a default value for env property.

[2022-06-28 07:34] pat-sch opened #318 "java.lang.IllegalAccessException when using OWNER with Java 17"
We are currently trying to upgrade our Spring MVC web application from Java 8 to Java 17. During deployment, the following exception occurs when initialising the config instance via ConfigFactory.create(AppConfiguration.class):

[code]

Does anyone have the same problem?

[2022-08-12 12:53] alexander-poulikakos opened #319 "Is it possible, somehow, to have Variables expansion with Accessible.getProperty(String)"
Is it possible, somehow, to have variable expansion when using Accessible.getProperty(String) method?

Example:
[code]
conf.properties file
[code]

output:
[code]

However, I would like to have this output:
[code]
I have read the docs but did not find a way. Can it be done somehow, without declaring a method in `MyConfig` interface? It does not necessarily needs to be done by using a method from `

[2022-08-22 07:29] alexander-poulikakos commented on #319
In lack of proper support for this, I came up with this rather hacky solution. Well, at least it works (using owner-java8-1.0.12) 😝

[code]

and it outputs this:
[code]

[2022-09-24 06:54] ravibabu101143 commented on #253
In selenium automation this is common scenario. Is there way to

Is there any solution for this? We are delivering automation framework, teams using framework for their projects have their own key  pair values.

[2022-11-06 04:17] uchagani commented on #318
i'm using Owner with java 17 and creating a config via ConfigCache and don't have this issue.

[2022-11-09 20:23] VirgilSmith opened #323 "Confusing documentation for ByteSizeConverter"
The section on Type Conversion says "The suffixes supported by ByteSizeConverter are:"...
* kilobyte, kilobytes, k, ki, kib
* kibibyte, kibibytes, kb

which would be clearer if grouped as
* kibibyte, kibibytes, k, ki, kib
* kilobyte, kilobytes, kb

so that all of the options that multiply by 1024 or 1000 would be grouped on separate lines respectively.
The same goes for all of the similar larger g